[2019-02-28 17:59] craigatgoogle opened #32 "Migrate Issues and Docs to GitHub"
* Migrate Issues from Jira to GitHub: https://issues.jenkins-ci.org/browse/JENKINS-56331?jql=project%20%3D%20JENKINS%20AND%20component%20%3D%20google-compute-engine-plugin%20
* Leave a comment on each issue with a link to the corresponding GitHub issue, and then close the issue in Jira.
* Create a guide-post issue template in Jira directing folks to GitHub issues
* Migrate the docs from the Jenkin

[2019-03-01 22:11] rachely3n opened #35 "Support stop GCE instance instead of Termination"
As requested [here](https://issues.jenkins-ci.org/browse/JENKINS-50310)

"Currently the google-compute-engine-plugin creates jenkins node and terminates them if idle. Instead of terminate, it's better to support stop the instance when idle."

[2019-03-01 22:15] rachely3n opened #36 "Improve documentation for parameter instance cap per cloud"
Referencing this [issue](https://issues.jenkins-ci.org/browse/JENKINS-52649)

Objective is to improve documentation so that users know that what they name their clouds will determine the instance cap for each cloud. [Code logic](https://github.com/jenkinsci/google-compute-engine-plugin/blob/1d72075d7cef467d6b7625fe9541ad4fa440f2bb/src/main/java/com/google/jenkins/plugins/computeengine/ComputeEngin

[2019-03-01 22:19] rachely3n opened #37 "Link a running worker to the instance config that created it"
After a worker has been created, it's not obvious which specific instance configuration created it. On create, we should either set the instance config as a property of the worker (via the Instance or Computer class), or consider giving each instance config a guid when it is created and setting that guid on the GCE instance metadata for the worker when it is created.

See parent [issue](https://is

[2019-03-01 22:23] rachely3n opened #38 "Code Cleanup: Remove exposed compute client in ComputeEngineCloud"
There are examples throughout the code base of accessing the ComputEngineCloud's compute client through an exposed field. This introduces tight-coupling by introducing an undocumented dependence on the initialization logic/timing within the ComputeEngineCloud. Ideally this field should be encapsulated and current reference sites should be refactored to accessing the compute client in an abstract a

[2019-03-01 22:25] rachely3n opened #39 "Issues adding GCE instance manually"
Unable to add GCE node (Manage Jenkins->Manage Nodes->New Node-> type name and select "google compute engine") because of error. 

I've seen a couple of users experience this issue although it is not our recommended workflow.

[Reference issue](https://issues.jenkins-ci.org/browse/JENKINS-55380)

[2019-03-01 22:41] rachely3n opened #40 "de-duplicate integration tests"
Currently there exists two sets of duplicate integration tests for Linux and Windows. This creates an additional maintenance burden as when tests need to be updated, they have to be updated in both sets. Ideally, there should be one set of integration tests that can take different configurations as parameters (which could help distinguish which OS we're testing, etc).

Also, might move these out o

[2019-03-01 22:42] rachely3n opened #41 "Parallelize snapshot creation"
Parallelize the snapshot creation since it currently blocks.

[Reference issue](https://issues.jenkins-ci.org/browse/JENKINS-56113)

[2019-03-01 23:14] rachely3n opened #42 "Fix remote file location for Windows"
Right now, windows launcher launches agents on a location hard-coded into the launcher even though we allow users to specify this. Need to fix this bug.

[Reference issue](https://issues.jenkins-ci.org/browse/JENKINS-55515)

[2019-03-14 07:48] mikeitup opened #46 "One-shot feature kills slaves of unrelated projects"
Greetings,

We've installed v2.0 on several of our jenkins masters, and encountered the following issue:

Our jenkins masters are independant instances, most teams run their own masters. But slaves are launched and run in one google project, maintained by IT. For some masters (teams), new "one-shot" feature is enabled, for others, it is not. And some remaining masters are still running older versi

[2019-03-18 18:14] rachely3n commented on #46
How are we seeing that a certain worker is killed by another team's master? Are there more stack traces I can see. What kind of labels are you using for your workers/jobs?

[2019-03-19 19:46] ingwarsw commented on #46
@mikeitup Its not `One shot` feature that is killing your tasks but probably `Clean orphaned nodes`
See https://issues.jenkins-ci.org/browse/JENKINS-56201

To fix it just change name of could in each of jenkins instances.

[2019-03-19 20:31] stephenashank opened #49 "Code Cleanup: Enable test parallelization by removing shared test state"
This is similar to https://github.com/jenkinsci/google-kubernetes-engine-plugin/issues/27

Here the main focus will be on [ComputeEngineCloudIT.java](https://github.com/jenkinsci/google-compute-engine-plugin/blob/master/src/test/java/com/google/jenkins/plugins/computeengine/ComputeEngineCloudIT.java) because they take the most time. I'll also look at addressing #40 so that I don't have to do this

[2019-03-19 21:44] rachely3n commented on #49
Yep, #40 is basically part of the same effort.

[2019-03-19 21:57] stephenashank commented on #49
Do you think I should close this and merge it with #40? Or vice-versa

[2019-03-19 22:24] rachely3n commented on #49
Yea, let me go close #40 .

[2019-03-19 22:24] #40 closed

[2019-03-20 08:01] mikeitup commented on #46
@rachely3n sorry I didn't reply earlier, I think what @ingwarsw says solves our issue. Thanks!

[2019-03-20 19:45] rachely3n commented on #46
This is interesting. I may have to work on a new feature to better distinguish instances with a particular master.
@ingwarsw so the problem is because both masters are using the same cloud name?

[2019-03-21 10:20] ingwarsw commented on #46
@rachely3n See #51

[2019-03-22 11:43] robincsmith opened #53 "Cannot launch GCE agents when plugin configured with JCasC"
Hi all,

When configuring this plugin using JCasC, GCE agent VMs will not launch. The relevant fields seems to be populated in the Jenkins 'Configure System' UI, but the VMs are not able to launch until Jenkins' configuration is saved using the UI.

Here is my JCasC configuration relating to this plugin. In my case, I'm creating a brand new Jenkins instance from scratch, as you might do when runni

[2019-03-22 13:24] robincsmith commented on #53
Here are the logs of JCasC configuring my Jenkins instance:

[code]

And the logs when I try to perform a build:

[code]

[2019-03-22 14:31] ingwarsw commented on #53
I would say that `readResolve();` is never called..
Probably would be nice to add it to `provision` method..

[2019-03-22 15:11] robincsmith commented on #53
@ingwarsw I'm not too familiar with this plugin, but happy to be a guinea pig for an experimental fix, as I'm working on an ephemeral Jenkins master configured with JCasC at the moment.

I see `ComputeEngineCloud` and `InstanceConfiguration` both have `readResolve` and `provision` methods. I can try building the plugin and testing on my instance, if you have a suggestion of what to change?

[2019-03-26 10:43] ingwarsw commented on #53
@robincsmith Can you try using code from #54

[2019-03-26 10:44] robincsmith commented on #53
Yes - I can try building and installing that today

[2019-03-26 14:47] robincsmith commented on #53
@ingwarsw looks like the changes in #54 fix the problem :-D

Jenkins can spin up ephemeral VMs in GCE without needing to hit 'save' in the configuration UI

[2019-03-26 17:37] robincsmith commented on #53
This doesn't fix the other issue I mentioned (GCE slaves disconnected after a JCasC config reload), but that might be a [more general issue](https://github.com/jenkinsci/configuration-as-code-plugin/issues/715#issuecomment-476752740) with JCasC - it seems to remove all ephemeral nodes (coming from plugins like this one, or the Docker / Yet Another Docker plugins) when JCasC config is reloaded

[2019-03-27 08:28] ingwarsw commented on #53
@robincsmith In your config you have `nodes` configured?

[2019-03-27 09:18] robincsmith commented on #53
Yes - I think that's what causes the disconnection issue

[2019-03-27 21:39] RedpointJenkins opened #56 "Instance templates don't support "Use Internal IP?""
I wanted to use instance templates when setting up a new Jenkins instance, but I've found that the "Use Internal IP?" appears to be ignored when they're used.

That option should probably be moved out of the "Advanced" section, so it can still be toggled even when using instance templates.

[2019-03-27 21:39] hach-que commented on #56
Oops, I was signed into the wrong account when I filed this issue.

[2019-03-28 19:55] #46 closed

[2019-03-28 21:31] hach-que opened #57 "Instance cap can be exceeded when multiple Google Clouds configured"
I have this configuration:

![image](https://user-images.githubusercontent.com/504826/55194156-14dc3280-5166-11e9-9282-b4662769a57e.png)

and yet somehow Jenkins decided to fire up 3 instances?

![image](https://user-images.githubusercontent.com/504826/55194169-1d346d80-5166-11e9-9805-0eb1accd0887.png)

I have a second Google Cloud configured, with an instance cap of 2 for the linux agents.

[2019-03-28 21:32] stephenashank opened #58 "Code Cleanup: Use builder for InstanceConfiguration"
Tech debt note: the constructor for InstanceConfiguration has gotten large enough to warrant use of a builder.

_Originally posted by @craigatgoogle in https://github.com/jenkinsci/google-compute-engine-plugin/pull/55_

Related: We should move all non-essential fields into @DataboundSetters. This would help to cut down on the constructor size.

[2019-03-28 21:34] hach-que commented on #57
Okay, this might have been because those nodes got preempted very very quickly. It looks like none of them lasted more than a minute before they got preempted.

[2019-03-28 21:36] hach-que commented on #57
Hmm no, even after turning off preemption, it still launched two nodes:

![image](https://user-images.githubusercontent.com/504826/55194388-be232880-5166-11e9-9613-9c25aa91446d.png)

![image](https://user-images.githubusercontent.com/504826/55194411-cc714480-5166-11e9-862d-1ed53174fb02.png)

even though the instance cap is set to 1. This looks to be a pretty bad bug.

[2019-03-29 15:14] ingwarsw commented on #56
@hach-que Could you explain when its not used..
From looking at ode I see its used normally (actually it doesynt matter if field is in advanced or not to be used in this case)

[2019-03-29 15:25] ingwarsw commented on #53
@robincsmith I think I fixed it, see https://github.com/jenkinsci/configuration-as-code-plugin/pull/804

[2019-03-29 17:20] robincsmith commented on #53
Thanks @ingwarsw!

I built and deployed the plugin into my local environment. With your changes, the nodes do indeed persist when I click 'Reload existing configuration' or 'Apply new configuration'. However, clicking either those buttons also results in Demon Jenkins, with the following stacktrace:

[code]

That seems to apply to ephemeral nodes added by the 'Docker' plugin. If I only have epheme

[2019-03-29 19:31] casz commented on #53
Should be an easy fix for in the docker plugin. Though depends on how long PRs sit.

[2019-03-29 19:36] ingwarsw commented on #53
@casz @robincsmith Docker plugin could fix it (and probably should) but I can fix It also in PR (at least I think so)..

[2019-03-29 19:39] ingwarsw commented on #53
And personally I think that checking by `isInstantiable()` from `Descriptor` if node is `cloud node` is actually bad idea..
But seems like E2C plugin have only this as indicator..

[2019-03-29 19:41] casz commented on #53
Perhaps check isInstantiable last if the other two are true?

[2019-03-29 19:42] casz commented on #53
Perhaps fix E2C while we are at it :confused:

[2019-03-29 19:45] ingwarsw commented on #53
They should implement their nodes based on `AbstractCloudSlave` As I see it should be rather easy..

[2019-03-29 19:57] casz commented on #53
@ingwarsw feel free to join [gitter](https://gitter.im/jenkinsci/configuration-as-code-plugin) :smile:
Are you fixing up E2C or Docker, I'll jump on the other one then.

[2019-03-29 20:47] #42 closed

[2019-04-01 07:08] ingwarsw commented on #57
My experience says that it works with roughly good precision..
We have it set for 50 instances and max I saw was 52..

Issue is that we are starting new instances and they are not counted until they will start showing on listing.. which may take few seconds..

I dont think its worth making it more precise, because it will make it slower/more complicated..

[2019-04-01 11:58] robincsmith commented on #53
I'm not sure exactly where to report this, given the plethora of PRs that have been raised (thanks for that!), but my testing has confirmed the following:

@ingwarsw with GCE Plugin #54, the GCE agents can start without needing 'save' to be hit in the UI.
Adding [CasC Plugin PR #804](https://github.com/jenkinsci/configuration-as-code-plugin/pull/804) (already merged), the GCE nodes remain connecte

[2019-04-01 12:18] casz commented on #53
@robincsmith see https://groups.google.com/forum/#!searchin/jenkinsci-dev/maintainer$20role$20clarification%7Csort:date/jenkinsci-dev/BLIfRisUyag/NRfv7QzdBAAJ regarding Nicolas current maintainer status.

Hopefully, he is willing to review it 😅

[2019-04-01 12:45] robincsmith commented on #53
🤞🤞🤞

[2019-04-01 15:29] robincsmith commented on #53
👍 nice work, @casz :-)

[2019-04-05 09:49] lukasova opened #61 "Virtual machines connected to Jenkins via Compute Engine plugin are terminated periodically within an hour"
I use Compute Engine Plugin (v. 3.0.0) for connecting GCE instances to Jenkins CI (v. 2.159). Jenkins automatically creates the instances (e.g. CentOS 6,7, Debian 9 - I tried official images that provides Google Cloud Engine) when some job is stared, but in specific time in every hour (e.g. every XX:57, yesterday it was every XX:53) all these machines are terminated no matter how long does they ru

[2019-04-05 18:42] craigatgoogle commented on #32
Pinging this, it looks like issues were migrated but documentation is still on the Jenkins Wiki.

[2019-04-05 18:43] craigatgoogle opened #62 "[Code Cleanup]: Properly handle failed compute client setup."
The ComputeEngineCloud currently does not properly handle the case when the ComputeClient failed to be setup.

[2019-04-08 05:48] dkozlov opened #63 "Fail to create agents with GPU attached from Machine Configuration in Jenkins settings UI. Instances with guest accelerators do not support live migration."
Hello, it seems that it is possible to create GPU agent by specifying instance template for creating instances. But it is not possible to create GPU agent without specifying instance template. See related issue https://issues.jenkins-ci.org/browse/JENKINS-52708.

As workaround you can use following https://github.com/dkozlov/google-compute-engine-plugin/commit/7b7af84ee0a2cf177b2f9be8e65c656f45d96

[2019-04-08 05:50] dkozlov commented on #63
![Screenshot from 2019-04-08 08-43-46](https://user-images.githubusercontent.com/1515942/55701308-51682380-59db-11e9-8309-b407d80c08f2.png)
![Screenshot from 2019-04-08 08-34-33](https://user-images.githubusercontent.com/1515942/55701309-51682380-59db-11e9-81a2-40e409401b49.png)

[2019-04-10 00:32] rachely3n commented on #63
Hmm, it seems like your code change would resolve issues. Is there a reason you have not submitted a pull request?

[2019-04-10 00:34] rachely3n commented on #61
I'll have to take a closer look, but at first glance it might have to do with this feature:
https://github.com/jenkinsci/google-compute-engine-plugin/pull/17

[2019-04-10 18:35] rachely3n commented on #56
Can we get an update on this issue? Is this still a problem you're facing @hach-que?

[2019-04-10 20:21] rachely3n commented on #57
@hach-que I don't know if it's worth it as stated above to make it more precise. What are your thoughts? Is this a significant problem for your use case? Looking at the code, it seems it could be a timing issue between having to terminate the instance and then provisioning new instances.
https://github.com/jenkinsci/google-compute-engine-plugin/blob/1d72075d7cef467d6b7625fe9541ad4fa440f2bb/src/mai

[2019-04-10 20:39] rachely3n opened #65 "Code Cleanup: Replace public fields with getters/setters"
Reference: https://issues.jenkins-ci.org/browse/JENKINS-55518

Through the code base there are many examples of public fields in classes. This issue tracks the code cleanup work in re-factoring these to use proper getters/setters.

[2019-04-10 22:17] dkozlov commented on #63
@rachely3n it is workaround for GCP instances with GPUs because GCP instances without GPUs can migrate to other hardware without downtime.

[2019-04-10 22:28] amalaowala opened #67 "Triggering many (100+) concurrent builds causes some builds to not get parameters set"
### Environment :
Jenkins ver. 2.150.2 running in docker on an ubuntu 18.04 host in GCP
Google compute engine plugin 2.0.0 (latest available)

Using an instance template to spin up n1-standard-4 VMs using SSDs

Jenkins master process is started with the following JVM Options for faster response when workers are needed. (Still experimenting with the right values).

JAVA_OPTS="-Dhudson.slaves.NodePr

[2019-04-11 00:45] rachely3n commented on #63
I see, so that (terminate for migrate) should only apply for instances with GPU's?

[2019-04-11 01:54] hach-que commented on #56
I haven't had a chance to re-test this. Let's close it for now until I can reproduce it again.

[2019-04-11 01:55] hach-que commented on #57
In my case I'm launching 32-core Windows instances, with an instance cap of 1. So when it goes over it effectively doubles my spend on Google Cloud. For 32-core Windows instances, that's not trivial given the premium OS licensing per core.

[2019-04-11 06:21] dkozlov commented on #63
@rachely3n, yes, (terminate for migrate) should only apply for instances with GPU's.

[2019-04-11 18:44] rachely3n commented on #57
I see, yes, the cost can really add up. I'll have to research further into this since this could involve a pretty significant code change.

[2019-04-11 18:45] #56 closed

[2019-04-11 19:31] stephenashank commented on #65
I'm running into something related to #58 with this issue. InstanceConfiguration uses almost all public fields with final (presumably for safety because getters and setters are not used). If immutability is a concern then there are other ways to achieve this without the use of final. (i.e. only getters with private fields).

I would like to be able to remove the final keyword so I could construct

[2019-04-11 19:42] rachely3n commented on #65
I like the idea of using lombok. Not sure if google uses it much or if we have an alternative? @craigatgoogle would probably know about it.

[2019-04-11 21:26] rachely3n commented on #38
Closing once https://github.com/jenkinsci/google-compute-engine-plugin/pull/54 is merged and released

[2019-04-12 00:06] rachely3n commented on #67
Interesting. I just haven't really seen cases where we use groovy scripts and parameters passed in. I'll have to look further into this since I've never worked with this kind of environment before.

[2019-04-12 00:09] rachely3n opened #68 "Terminate on migrate for instances with GPU's attached."
Based off: https://github.com/jenkinsci/google-compute-engine-plugin/issues/63

Should change scheduling in InstanceConfiguration.java to terminate on host maintenance only for instances with GPU's.

See https://github.com/dkozlov/google-compute-engine-plugin/commit/7b7af84ee0a2cf177b2f9be8e65c656f45d964a4 for an example

[2019-04-12 00:13] rachely3n commented on #58
Seconding the @DataboundSetters

[2019-04-12 02:55] Rukeith opened #69 "Cannot connect to GCE slave via SSH"
I use the plugin to create a GCE Slave, but the slave is always offline.
I saw the log, it seems cannot connect to the slave via ssh.

[code]

[2019-04-12 16:51] stephenashank commented on #69
Hi @Rukeith, thanks for submitting this.
From what it looks like the agent was connected to successfully via ssh after a couple of retries, but the agent did not have Java 8 installed. See the docs on Instance Configuration [here](https://github.com/jenkinsci/google-compute-engine-plugin/blob/master/docs/Home.md#instance-configurations). From step 8, the image used for your agent's boot disk confi

[2019-04-12 16:56] stephenashank opened #70 "[Feature] Include help text that clarifies requirements for boot disk"
From #69 I discovered that currently users only learn through the documentation that the boot disk image must have Java 8 installed.

Currently, only the bootDiskAutoDelete field has help text. This tracks the work to add help text to the remaining boot disk fields to provide users information on the boot disk requirements directly in the UI.

[2019-04-12 17:00] stephenashank commented on #69
I just filed #70 which will make this information more visible up front. Let me know if if my advice resolved your issue and if you have any other suggestions to make this a better experience.

[2019-04-12 18:11] rachely3n commented on #69
Yep, if you look at the logs, you connected fresh as root, which means a successful SSH connection.

It is a bit of oversight on our part that we assume people know they will need Java 8 to run Jenkins since it uses jar files to communicate between master and agents.

Good catch @stephenashank. I might have to update the docs as well.

You can see java was installed in the integration tests as wel

[2019-04-12 19:28] rachely3n commented on #68
One thing I see so far as a block is how to emulate live migration in integration testing.

[2019-04-12 19:56] stephenashank commented on #68
Decided to look into this once you mentioned it. I think this should be usable, but the documentation is pretty sparse: https://cloud.google.com/compute/docs/reference/rest/v1/instances/simulateMaintenanceEvent

It's sparse in the sense that the only explanation given both on that page and the gcloud docs page is "simulates a maintenance event". I'm 90% sure that it means your instance would behav

[2019-04-13 04:42] Rukeith commented on #69
@stephenashank Thank you, I miss those informations on the log.

[2019-04-13 04:42] #69 closed

[2019-04-14 17:47] hach-que opened #72 "When a compute instance gets preempted, the plugin should abort/reschedule the jobs that were running on the instance"
Right now when an instance gets preempted, the jobs that were running on the instance just stall, with the agent in an `(offline)` status. The builds never progress and never change state, even though the underlying machine is no longer there.

Since the plugin can periodically detect that the VM no exists, it should delete the agent from Jenkins and either abort or reschedule the jobs that were r

[2019-04-14 17:56] ingwarsw commented on #72
@hach-que see #33, its almost done..
I just need few things to finish there..
Maybe you will have some input to questions that I raised there?

[2019-04-14 18:01] hach-que commented on #72
Oh sweet, looking forward to having that merged.

[2019-04-14 18:02] ingwarsw commented on #68
@RaphC @stephenashank The problem is not with simulating `host maintanance`
The problem is that we are trying to set wrong value for `OnHostMaintenance` field when instance gave GPU added..
By default that value is set to `migrate` but with GPU it needs to be switched to `terminate` see
https://cloud.google.com/compute/docs/gpus/#restrictions

Now using instances with GPU is available via template

[2019-04-14 18:05] ingwarsw commented on #68
@rachely3n Why you have copied #63??
It would be much easier to have 1 thread..

[2019-04-15 21:01] rachely3n commented on #68
@ingwarsw simulating the host maintenance in this case would just be for unit testing after I make it so that instances with GPU's terminate on migrate.

what do you mean by

If it's available in the templates, shouldn't I still support GPU's in the plugin?

[2019-04-16 11:24] lukasova commented on #61
Any update here please?

[2019-04-16 17:40] rachely3n commented on #61
Hi @lukasova , what I'm saying with #17, it might be normal that your instances are getting cleaned up after an hour of inactivity. This is intended to save you money in the case you just have instances running that you're not using.

[2019-04-16 19:15] lukasova commented on #61
no, instances are not inactive. Some job is running on them and they are terminated. That's the problem.

[2019-04-16 20:40] rachely3n commented on #61
O, that is very interesting. Can you show me your instance configuration and more logs if possible.

[2019-04-16 20:41] rachely3n commented on #70
I can take this on.

[2019-04-16 21:43] craigatgoogle opened #73 "Unable to connect to GCE using plugin via ssh"
[Migrated from: https://issues.jenkins-ci.org/browse/JENKINS-56988]

I use the plugin to create a slave node on GCE, but the node is always offline.

I saw the log is below. SSH cannot connect to GCE.

just before slave jenkins-slave-916wdt gets launched ...
executing pre-launch scripts ...
Apr 12, 2019 2:31:47 AM null
FINEST: Instance jenkins-slave-916wdt is running and ready...
Apr 12, 2019 2:31

[2019-04-16 21:47] craigatgoogle opened #74 "GCE plugin shouldn't cleanup nodes from different jenkins masters"
[Migrated from: https://issues.jenkins-ci.org/browse/JENKINS-56201]

Upgrade of plugin google-compute-engine-plugin to version 1.0.10 causes that vm instances created in this same GCP project but from different Jenkins Master are removed.

It looks that these changes https://github.com/jenkinsci/google-compute-engine-plugin/blob/7ee660eae173d1010388c557c378f2b7f8bdd105/src/main/java/com/google/jen

[2019-04-16 21:49] craigdbarber opened #75 "windows GCE instance connects but then report "java.io.EOFException: unexpected stream termination""
[Migrated from: https://issues.jenkins-ci.org/browse/JENKINS-55515]

I can't use windows instances in GCE because of launching agent problem. Please help me to debug/resolve the issue.

Steps to reproduce:

Create windows instance in GCE
Login to the instance by RDP and add user tester with Administrator role
Login to the instance by RDP as tester
Install java8, cygwin with openssh, configure open

[2019-04-16 21:50] craigatgoogle opened #76 "[Code Cleanup]: Make ComputeEngineCloud NodeProvisioner compatible"
[Migrated from: https://issues.jenkins-ci.org/browse/JENKINS-55412]

When provisioning nodes in ComputeEngineCloud the code currently does a direct out of band call to jenkins.getInstance().addNode(). This is antithetical to the NodeProvisioner workflow which expects to call jenkins.getInstance().addNode() when the PlannedNode's future successfully returns.

[2019-04-16 21:52] craigatgoogle opened #77 "Occasionally the plugin leaves orphaned, stopped VMs"
[Migrated from: https://issues.jenkins-ci.org/browse/JENKINS-52736]

This wastes compute resources and costs.

Ideally the plugin would not do this, but in addition, having a periodic (every 5 minutes) check to go through the current VMs in the project, see which ones are tagged with "jenkins" and then automatically terminate any VMs tagged with that and not known to Jenkins. This would make it re

[2019-04-16 21:55] #32 closed

[2019-04-16 21:55] stephenashank commented on #58
Resolved with #71

[2019-04-16 21:55] #58 closed

[2019-04-16 21:57] stephenashank commented on #73
I believe this is a duplicate of #69

[2019-04-16 22:26] craigdbarber opened #78 "Migrate to using managed instance groups"
A good amount of the instance provisioning, cleanup, and scaling logic can be eliminated from the code base by utilizing GCE's managed instance groups: https://cloud.google.com/compute/docs/instance-groups/

This would also solve some of outstanding issues with efficiency.

[2019-04-16 22:27] craigatgoogle commented on #35
This issue will be resolved once we migrate to using managed instance groups: #78

[2019-04-16 22:30] craigatgoogle commented on #36
Resolved with: https://github.com/jenkinsci/google-compute-engine-plugin/pull/51

[2019-04-16 22:30] #36 closed

[2019-04-16 22:52] rachely3n commented on #35
Not sure this will be solved by instance groups. Feature requested is something EC2 has here: https://github.com/jenkinsci/ec2-plugin/blob/master/src/main/java/hudson/plugins/ec2/EC2RetentionStrategy.java

[2019-04-16 22:54] rachely3n commented on #73
Yep. I had already migrated this one. Can we close?

[2019-04-16 23:53] rachely3n commented on #61
Did you see the following in your logs at all:
[code]

[2019-04-17 16:47] viglesiasce commented on #78
Scaling with instance groups will be difficult since the IG is not aware of the workload running inside the instance. This could cause nodes to be taken out of service while long running jobs are running. Letting Jenkins do the instance provisioning allows it to decide when to take out which instance based on the knowledge of jobs running on the host.

[2019-04-17 17:24] ingwarsw commented on #68
Plugin dont need to support GPU (and never actually did)..
If plugin supports templates most things can be done via them..

Rarely used things that are supported via plugin but could be only supported via templates (and they would made plugin bit simpler)
- GPU
- Minimum Cpu Platform

[2019-04-17 17:26] ingwarsw commented on #68
But we are never testing migration..
And Im not sure we should, its GCE feature not ours..

[2019-04-17 22:11] craigatgoogle commented on #78
The IG can be configured to scale by CPU utilization, which would result from agent workloads running on nodes, unless there's an aspect I'm missing.

[2019-04-17 22:12] #73 closed

[2019-04-17 22:14] craigatgoogle commented on #35
Moving to InstanceGroups would allow us to remove the manual management of nodes and delegate that to the IGs. Happy to discuss further offline if you'd like.

[2019-04-18 09:37] ingwarsw commented on #78
I personally think it will rather not work..
We have (and all jenkins nodes) have static number of workers per node.
We would have to make it dynamic and I really have no idea how it could work..

Could you elaborate how would you see it running?

[2019-04-18 10:21] ingwarsw commented on #77
@craigatgoogle It was already released as `1.0.9` in #17

`(though it should be an option in case multiple Jenkins instances share the same GCE project).` this part is not released but there are #46 #51

[2019-04-18 18:11] craigatgoogle commented on #77
Understood, thanks! Closing this issue.

[2019-04-18 18:11] #77 closed

[2019-04-19 19:40] craigatgoogle commented on #78
The workers per node would still remain static, the internals of the Nodes wouldn't change. This would simply defer the node provisioning/de-provisioning logic to the managed instance group service.

This would however strip the Jenkins cloud of that responsibility which would probably require some no-op stubs for node creation/deletion. The bootstrapping will, (ie: the uploading of the JNLP agent

[2019-04-19 19:49] craigatgoogle commented on #65
Google's answer is auto value: https://github.com/google/auto
That said, there's no NIH dogma here. If lombok provides a more attractive solution and confirms to our licensing requirements, I see no issue in trying it out.

[2019-04-19 19:51] craigatgoogle commented on #65
Assigning this to @stephenashank so that he can investigate the best solution. Try to keep an eye towards what might work across the whole suite of plugins.

[2019-04-19 21:40] craigatgoogle commented on #74
Addressed by: https://github.com/jenkinsci/google-compute-engine-plugin/pull/51

[2019-04-19 21:40] #74 closed

[2019-04-19 23:42] stephenashank commented on #65
I'll be looking into this next week, I'll just add that the primary motivation against using lombok is the fact that it modifies the class at compile time, and not before as with tools which generate code, like auto value.

[2019-04-20 17:44] ingwarsw commented on #78
@craigatgoogle But we have templates which gives such posibility.. and most people should using it :)
At least we are doing it, and it gives much more power that plugin itself..

And basically we could strip 3/4 logics of instance configuration, and leave only templates..
And to extend it to `managed instance group` it would require big rewrite force people to create and manage `managed instance g

[2019-04-20 17:51] ingwarsw commented on #65
I have used lombok in many projects..
And its reducing boilerplate by 90% in some cases..
And reduces possibility for creating bugs..

I tried using `auto value` and other similar tools but none was not even near as nice in usage as lombok..

[2019-04-22 18:43] rachely3n commented on #68
@ingwarsw
I'm not sure I understand what's going on here. If GPU's can be added via templates, it can be used in the plugin then. I would then want to fix the migration problem for GPU instances by terminating them.

[2019-04-24 06:49] lukasova commented on #61
No, i did not see this INFO.

I have attached some screenshots of used template on Google Cloud Engine and the Jenkins configuration. On the screenshot you can see that we use our own company image for CentOS 7, but the same problem appears on other systems (CentOS 6, Debian 9) and also when I try official CentOS 7 image provided by GCE.

 What other logs would you like to see?

![cloud_template1]

[2019-04-24 07:13] lukasova commented on #61
today's logs (jenkins slave log and jenkins full log)

[jenkins_system_log.txt](https://github.com/jenkinsci/google-compute-engine-plugin/files/3110967/jenkins_system_log.txt)
[jenkins_slave_log_cent7.txt](https://github.com/jenkinsci/google-compute-engine-plugin/files/3110968/jenkins_slave_log_cent7.txt)

I also archived the instance disk, so if you want some logs from the instance, let me know w

[2019-04-24 07:36] lukasova commented on #61
I have created an archive with /var/log/ directory of crashed CentOS 7 instance:

[var_log.zip](https://github.com/jenkinsci/google-compute-engine-plugin/files/3111080/var_log.zip)

[2019-04-24 22:54] stephenashank commented on #65
I've taken some time in between other things to test out Lombok, and it definitely look promising here. It is compatible with Stapler so no issues there. There are a few annoying things that I was able to resolve for our use case such as the builder using a constructor rather than setters, but I'll definitely need feedback on the way I resolved that type of thing. When I'm ready I'll submit a PR.

[2019-04-25 00:36] rachely3n commented on #61
Ok, so you seem to be SSH'ing in just fine because of the connect fresh as root INFO log.
However, I see there is a relative remote path of /home/jenkins/./.jenkins-slave,
but it seems agent.jar was copied to /tmp/. It's really interesting that's the path we get.

Can you SSH into your instance manually and see if this is a valid path? I think it might not be, and we'll have to look further into t

[2019-04-25 00:50] rachely3n commented on #61
Ok, so I just tried out with my remote and with ./ as my remote location i get ./home/jenkins

[code]

[2019-04-25 08:50] lukasova commented on #61
yes, i forgot to mention it. I've also tried to search why the slave was copied into /tmp directory but I didn't find anything about it. I also tried to find some event which could delete this agent in /tmp but no cron or something like that was started, the agent.jar is still present in /tmp directory.

It is wierd that the instance is always terminated at the same time during an hour. Yesterday

[2019-04-25 09:03] lukasova commented on #61
When i try to change directory to /home/jenkins/./.jenkins-slave with command 'cd /home/jenkins/./.jenkins-slave' it is valid command. The directory is present (it is ~/.jenkins-slave). So it does not seem to be a problem.

[2019-04-25 09:33] lukasova commented on #61
Attaching also the System Information about the new CentOS-7 instance I've created few minutes ago.
[jenkins_slave_system_information.zip](https://github.com/jenkinsci/google-compute-engine-plugin/files/3116207/jenkins_slave_system_information.zip)

[2019-04-25 10:52] lukasova commented on #61
https://github.com/jenkinsci/google-compute-engine-plugin/issues/69 is this issue a similar problem?

But I have Java 8 installed:
[jenkins@jenkins-gce-cent-7-notimer-jb5y6o home]$ java -version
openjdk version "1.8.0_201"
OpenJDK Runtime Environment (build 1.8.0_201-b09)
OpenJDK 64-Bit Server VM (build 25.201-b09, mixed mode)

Sometimes the slave is connected and working almost one hour and then

[2019-04-25 17:01] rachely3n commented on #61
#69 is because java 8 was not installed. You don't seem to be having that issue since your logs print a bunch of Java errors.

[2019-04-25 17:14] rachely3n commented on #61
I doubt this is the issue, but worth trying, can you try using the same image as me and see what happens (Debian cloud)

[2019-04-25 18:47] rachely3n opened #81 "Certain integration tests break if order changes"
Running testNoSnapshotCreatedSnapshotNull and then  testNoSnapshotCreatedInstanceStopping in ComputeEngineCloudNoSnapshotCreatedIT causes failure.

Need to deep dive into this issue since tests should pass regardless of order.

I'll hopefully complete this by 5/3/19 as I will be primary bug duty.

[2019-04-25 18:51] rachely3n commented on #67
@amalaowala Can you give me a quick summary of what those scripts are supposed to do and why you'll need to pass in parameters that way?

[2019-04-26 06:36] lukasova commented on #61
yes i can try Cloud Debian. How do you connect these machines to jenkins? Did you generate some ssh keys? Did you create some jenkins account? What other special changes did you make on this machine?

[2019-04-26 12:55] lukasova commented on #61
ok, so i tried to run Debian official image and it is the same situation. Attaching jenkins logs.
[debian_gcloud_official.zip](https://github.com/jenkinsci/google-compute-engine-plugin/files/3121361/debian_gcloud_official.zip)

[2019-04-26 15:30] rachely3n commented on #61
For Linux images, we generate the SSH keys for you. And like I said before, you seem to have no issue SSH'ing. For some reason your agent has trouble running the job.

We're going to put out a new release today and I wonder if that will resolve your issues... I'm not able to reproduce this error and it's not clear at all from the stack trace why this is happening. I will work on this extensively t

[2019-04-26 15:34] rachely3n commented on #61
When you say start some job and during an hour, is the job still running when the instance is terminated or did the job complete and you just kept the instance there and it was deleted?

[2019-04-26 16:23] lukasova commented on #61
i have already generated some ssh key,it is ok.

[2019-04-26 16:35] lukasova commented on #61
I start the job, istance is created and the job is running, then at specific time (today every xx:47) the instance is terminated (on google could operations page I can see that the request to terminate comes from jenkins account - stop and delete the instance). Then the machine is not available on Cloud or Jenkins. I can set an option to not delete the disk when the instance is terminated. As I al

[2019-04-26 16:38] lukasova commented on #61
it is wierd that the termination happens whole day at specific minute of an hour. It does not matter if the instance (job) runs 10minutes or 50minutes. If i run the job at 18:40, instance is terminated at 18:47. The same happens when i run the job at 17:50 it also crashes at 18:47.

[2019-04-30 23:58] #38 closed

[2019-04-30 23:59] rachely3n commented on #38
#54 has been released

[2019-05-01 00:00] rachely3n commented on #68
Going to keep this at #63 since yes it is easier to just have 1 thread to track this issue.

[2019-05-01 00:00] #68 closed

[2019-05-01 16:54] craigatgoogle opened #85 "[Bug]: instanceId missing with release 3.1.0"
Reported on #gcp-jenkins.
This issue appears to be breaking the plugin for customers

[2019-05-01 16:58] thisdudeiknew commented on #85
Context: Upon upgrading from v3.0.0 to v3.1.0, I was unable to complete builds because GCE couldn't create an instance due to "missing" information in the Jenkins config.xml:
`  <clouds>
    <com.google.jenkins.plugins.computeengine.ComputeEngineCloud plugin="google-compute-engine@3.1.0">
      <name>gce-gce</name>
      <instanceCap>5</instanceCap>
      <projectId>asdf</projectId>
      <credent

[2019-05-01 16:59] thisdudeiknew commented on #85
Particularly, the `instanceId` and `jenkins_cloud_id` are missing.

[2019-05-01 17:00] thisdudeiknew commented on #85
Error message from Jenkins:
[code]

[2019-05-03 09:19] SchulteMarkus opened #89 "Using GCE feature 'deploying-containers' fails because of missing Java on host"
This plugin supports using [GCE instance templates](https://cloud.google.com/compute/docs/instance-templates/) for provisioning a new Jenkins SSH slave.

I created a new instance template in Google compute engine, which uses the GCE feature [deploy containers](https://cloud.google.com/compute/docs/containers/deploying-containers). As the _Container-image_, I am using  openjdk:11-jre-slim.

When us

[2019-05-03 17:17] rachely3n commented on #85
Fixed with: #86 Thanks to @ingwarsw

I've also blacklisted the release 3.1.0 here:
https://github.com/jenkins-infra/update-center2/pull/272

[2019-05-03 17:17] #85 closed

[2019-05-03 18:17] rachely3n commented on #89
Thanks for bringing this up. Didn't realize it wasn't trivial to be running containers on GCE instances with the plugin when I first commented on the JIRA issue.

Right now, as you may know, the plugin SSH's directly to the VM. We programmatically insert a security key to the compute engine vm's instance metadata and have the other key when we SSH. Consequently, we won't be able to reach the conta

[2019-05-04 11:46] SchulteMarkus commented on #89
Thanks for the update, Rachel.
In my opinion, this is THE usecase for the google-compute-engine-plugin. Using https://cloud.google.com/container-optimized-os/ in combination with https://jenkins.io/doc/book/pipeline/docker/ as Jenkins slave would be awesome.

[2019-05-06 17:48] rachely3n commented on #89
Thanks for the extra information!

[2019-05-07 07:15] SchulteMarkus opened #91 "Make path to java executable configurable"
**Is** The path to the ```java``` executable is used hard-coded, see https://github.com/jenkinsci/google-compute-engine-plugin/blob/master/src/main/java/com/google/jenkins/plugins/computeengine/ComputeEngineLinuxLauncher.java#L130 and https://github.com/jenkinsci/google-compute-engine-plugin/blob/master/src/main/java/com/google/jenkins/plugins/computeengine/ComputeEngineWindowsLauncher.java#L129.

[2019-05-07 07:26] SchulteMarkus opened #92 "New Jenkins slave is started as root"
**Is** This plugin starts up a new instance in GCE. It connects to the new instances via SSH using an user, which is configured in the plugin settings in Jenkins (for example, the user "jenkins" is used for connecting via SSH). If this is successful, the plugin reconnects as root via SSH again to the instance. As root, the Jenkins slave is started.
See https://github.com/jenkinsci/google-compute-e

[2019-05-07 12:31] lukasova commented on #61
any update here please?

[2019-05-07 16:27] rachely3n commented on #61
Sorry about the delay.
I was looking at the systems log. Is it possible to get logs before the following line executes?
`Apr 26, 2019 1:47:54 PM INFO hudson.remoting.SynchronousCommandTransport$ReaderThread run`

The reason I ask is because I want to see if some other plugin or retention strategy is interfering with the agents and terminating them improperly since I notice the following plugin mig

[2019-05-07 19:43] craigatgoogle commented on #92
Thanks for pointing this out. I'll do a little digging to discover the motivation behind the current permissions strategy and follow up.

[2019-05-07 21:59] craigatgoogle commented on #89
@SchulteMarkus thanks for the feedback. Fyi, the work to support this is non-trivial, so it will merit some further consideration. In the mean time, have you considered using the k8s plugin and running workloads in GKE? Running containers is what GKE excels at. We have a great solutions article which covers this use case here: https://cloud.google.com/solutions/jenkins-on-kubernetes-engine-tutoria

[2019-05-08 07:33] SchulteMarkus commented on #89
@craigatgoogle thanks for the feedback.
I see that it won't be trivial to support the requirement from the plugins point of view.
I had see the k8s plugin. I had hoped being able to avoid it, as it adds another layer of complexity, compared to a solution, that runs only in GCE VM instances.

I created kind of workaround for my requirement:
I am using https://www.packer.io/ to extend the CoreOS (st

[2019-05-08 16:40] craigatgoogle commented on #89
@SchulteMarkus thanks for sharing. I think in the interim, highlighting this workaround in the plugin docs could provide value to other users who share a similar requirement.

[2019-05-08 20:44] dkfitbit opened #94 "Cannot set per-cloud environment variables"
Our GCE cloud is configured to not allow direct Internet access, either via external IP or via NAT, and all traffic must leave via a proxy where it can be logged.  However, the GCE plugin does not provide any way to set the required `http_proxy` et al environment variables on a per-cloud basis; the best available workaround would be to set them at the Jenkins global level, but then our non-GCE ins

[2019-05-08 20:47] dkfitbit opened #95 "Cannot select machine image outside of fixed project list"
We have a separate GCE project that runs packer to build our GCE machine images.  We can configure the GCE Jenkins plugin to use these via `init.groovy.d` scripting, but the result is that the UI is actively dangerous to use because clicking "Save" after changing *anything* on the page will cause the machine image URI to be cleared to the empty string.  I would very much like the ability to type a

[2019-05-09 08:11] lukasova commented on #61
Hello, ok, i am attaching

- full system Jenkins log,
- jenkins log from loggers com.nirima.jenkins.plugins.docker.DockerContainerWatchdog plugin + com.google,
- jenkins log from debian official instance 1,
- jenkins log from debian official instance 2
[jenkins_gcloud_log.zip](https://github.com/jenkinsci/google-compute-engine-plugin/files/3160971/jenkins_gcloud_log.zip)

thanks

[2019-05-09 16:11] craigdbarber opened #96 "[Code Cleanup]: Consolidate duplicated launcher logic"
There exists a large degree of duplicated logic in both launch methods for Linux and Windows. Ideally this logic should be consolidated. See:
https://github.com/jenkinsci/google-compute-engine-plugin/blob/a6ec3414e92592d63d5b66e4b5d8362956e0c12b/src/main/java/com/google/jenkins/plugins/computeengine/ComputeEngineLinuxLauncher.java#L91
https://github.com/jenkinsci/google-compute-engine-plugin/blob/

[2019-05-11 00:34] rachely3n commented on #92
Earlier I ran my a jenkins job with whoami. Just prints out my runAsUser. The log statement seems to be incorrect and we will remove it.

[2019-05-11 09:50] SchulteMarkus commented on #92
Hmm, confusing.
But the SSH connection is established, twice, isn't it?
1. https://github.com/jenkinsci/google-compute-engine-plugin/blob/master/src/main/java/com/google/jenkins/plugins/computeengine/ComputeEngineLinuxLauncher.java#L108 -> https://github.com/jenkinsci/google-compute-engine-plugin/blob/master/src/main/java/com/google/jenkins/plugins/computeengine/ComputeEngineLinuxLauncher.java#L20

[2019-05-12 14:38] abdidarmawan007 opened #98 "The channel is closing down or has closed down"
Channel "unknown": Remote call on jenkins-worker-rcisma failed. The channel is closing down or has closed down

[2019-05-13 03:11] rachely3n commented on #98
We'll need more log statements to help you diagnose the issue. Can I have the stack trace? Most likely you had an SSH issue.

[2019-05-13 03:14] rachely3n commented on #92
Yep, they both use the same way of authenticating. When I'm authenticating, I'm authenticating as the runAsUser.

[2019-05-13 03:20] rachely3n commented on #95
If I'm understanding correctly, you would like to have a GCE Image not associated with your current project available for usage (since it sounds like you all have a separate project just for creating images from packer)?

[2019-05-13 03:47] dkfitbit commented on #95
Correct.  Per the advice of our Google PSO team, having separate projects is the best way to enforce security boundaries, and we have security boundaries aplenty with our Jenkins setup.  We run packer within its own project, and those GCE images live in that project, and we then have multiple Jenkins projects that use those images.

[2019-05-13 14:07] lukasova commented on #61
was it helpfull?

[2019-05-13 17:00] seanhui1 opened #99 "GCE autoscaling behavior not being observed"
When there are 2 build agents available, I run 3 jobs.  the 2 build agents pick up 2 jobs respectively(which does a sleep  for 30s), while the the 3rd job sits in the queue.

The behavior that I expected was that it would spin up a third build agent to pickup the third job.

Here are my configuration settings.

![2019-05-13_09-58-51](https://user-images.githubusercontent.com/2492484/57639871-be845

[2019-05-13 17:02] seanhui1 commented on #99
Here are what my job configurations look like as well:

![image](https://user-images.githubusercontent.com/2492484/57640002-263a9c00-7566-11e9-8386-4997b911e0da.png)

[2019-05-13 17:25] seanhui1 commented on #99
here's an example of what my build queue looks like when I launch 3 jobs with one build agent currently available:

![image](https://user-images.githubusercontent.com/2492484/57641249-694a3e80-7569-11e9-8f68-31f966275635.png)

[2019-05-13 19:55] craigatgoogle commented on #89
@SchulteMarkus may we use your JSON template is our documentation for a workaround?

[2019-05-13 20:22] SchulteMarkus commented on #89
Sure

Craig Barber <notifications@github.com> schrieb am Mo., 13. Mai 2019, 21:56:

[2019-05-14 03:46] rachely3n commented on #99
I need to investigate further, but it might be similar to https://github.com/jenkinsci/google-compute-engine-plugin/issues/57 where timing affects the number of instances launched for jobs.

[2019-05-14 20:50] seanhui1 opened #100 "SSH key injection happens after instance is created, rather than before"
Seems like the SSH key injection via the plugin is happening unnecessarily late.

The SSH public key can be appended to the metadata before instance creation, rather than at launch time.

This way startup scripts can reference the ssh keys in metadata.

[2019-05-14 23:34] rachely3n commented on #99
Interesting, so I created 3 jobs (all have same label for which node it's restricted to run on) that take 45 seconds, 60 seconds, and 75 seconds. When the 45 second and 60 seconds ones are running, the third one is just stuck in the queue. I'll have to research some more.

[2019-05-14 23:41] rachely3n commented on #99
When I ran the longest test first, only one instance was provisioned.

[2019-05-15 17:29] seanhui1 commented on #99
@rachely3n how many nodes did you have available? 2?

[2019-05-15 20:15] craigatgoogle commented on #95
@dkfitbit to clarify, you're referring to the "Image Name" field under the "Boot Disk" section?

[2019-05-15 20:27] ingwarsw commented on #99
You know how cloud provisioning is `deciding` whatever to add new node or not?

Its complicated process.. which tries really hard to not spawn too many instances..
And there are few possibilities to tweak it..

To see how many executors are considered busy, free and needed see url:
`http://${your_jenkins_host}/label/${label_name}/load-statistics`

In default settings numbers of nodes should be as

[2019-05-16 21:00] stephenashank commented on #94
Hi @dkfitbit , I have been looking into this and I'd like to clarify what contexts you need these environment variables set for. I've attempted ways to set these variables through the startup script but have not had any luck so far.

[2019-05-16 22:58] stephenashank commented on #91
Hi @SchulteMarkus, with release 3.2.0, this should be addressed. It may take a few hours to reach the update center in the Jenkins plugin manager. Let us know if you experience any issues.

[2019-05-16 23:00] stephenashank commented on #100
Hi @seanhui1, with release 3.2.0 this should be addressed. It may take a few hours to reach the update center in the Jenkins plugin manager. Let us know if you experience any issues.

[2019-05-16 23:01] dkfitbit commented on #94
Example:

[code]

There might be other adequate ways to make those variables propagate to (1) all jobs that run on the executor (2) but no other executors, but the most obvious way is to set them when launching the JNLP slave.jar, which is what the EC2 plugin does.

[2019-05-16 23:04] dkfitbit commented on #94
It might help to know that we have a mix of executor types: cloud VMs that Jenkins deploys, bare metal machines that Jenkins SSHes into, and Mac Minis that live in corp and that connect to Jenkins (because Jenkins cannot reach them through the firewall).  Each of these different machine types needs different environment variables set.  One Jenkins job might use multiple machine types, perhaps even

[2019-05-16 23:17] dkfitbit commented on #95
![screnshot1](https://user-images.githubusercontent.com/18060512/57892983-07eacf80-77f6-11e9-8b2e-8cd2d339350c.png)
![screnshot2](https://user-images.githubusercontent.com/18060512/57892989-09b49300-77f6-11e9-9332-fc2b1f37971d.png)

[2019-05-16 23:38] stephenashank commented on #94
Thanks, that's actually extremely helpful. I would need to consult with our team on completely opening up customization of the launch command in that way. I don't believe it was intended to be used in this way, but it is actually now possible with the javaExecPath field (once release 3.2.0 hits the update center).

While we work on a more robust solution, here is the workaround that was just enabl

[2019-05-17 00:12] stephenashank commented on #95
Thanks for clarifying.

Currently the Boot Disk Image project dropdown is populated by a list of known projects and the user's project. Also, the Boot DIsk Image name dropdown is populated using the credentials provided for the user's project. So while it is possible to enter this configuration with CasC or some other text based configuration, when you open up the UI the dropdowns can't display or

[2019-05-17 07:57] SchulteMarkus commented on #91
I will have a look, probably on Monday (2019-05-20)

[2019-05-17 15:45] julianvmodesto opened #103 "Allow selecting image family only"
A GCE image family will point to the latest image.

GCE plugin users should be able to select only the image project and image family instead of the image family and specific image name.

For example, the image family `ubuntu-1804-lts` points to `ubuntu-1804-bionic-v20190514`.

[code]

[2019-05-17 21:51] #100 closed

[2019-05-17 22:20] #91 closed

[2019-05-17 23:32] seanhui1 commented on #99
Ah, thanks for the information and explanation @ingwarsw .  It does seem to be timing based.

Have you guys considered being able to configure the provisioning process like the settings you mentioned via the plugin? @rachely3n

[2019-05-20 15:33] rachely3n commented on #103
Have you tried using the VM templates? With VM templates, you can jsut specify an image family and it will default to the newest image.

[2019-05-21 12:10] lukasova commented on #61
no update here please?

[2019-05-21 19:45] julianvmodesto commented on #103
That works!

[2019-05-21 19:45] #103 closed

[2019-05-21 19:55] rachely3n commented on #103
Thanks for submitting this issue! It's giving us valuable insight into how users are using the plugin and how we might need to promote templates more (which is easier to configure and will lead to fewer errors).

[2019-05-21 21:08] rachely3n commented on #61
I can't seem to open any of these files, did you just save everything from the website? There are lots of web-related files.

I had wanted to see the logs since I am guessing there could be other plugins interfering with the instances.
Can you isolate the logs?

[2019-05-21 21:34] rachely3n commented on #61
Ok, I've managed to open them.
At 9:53:27 that is where you start getting 404 not found for instances.

At 9:52:57 i see the following:
[code]
However, I'm not seeing any log statements that would indicate we found any instances to terminate. This is possible if no remote instances were found.
However, I'm looking at the method findRemoteInstances (https://github.com/jenkinsci/google-compute-engin

[2019-05-21 21:42] rachely3n commented on #61
Alright, at 9:52:58 am, which is not too long after 9:52:57 where we saw `Cleaning cloud Codasip-Cloud`:

[code]

The timing of this statement makes me suspect it is because of CleanLostNodesWorker.
However, there should be log statements when instances are terminated because of CleanLostNodesWorker...

@ingwarsw Care to contribute any input?

[2019-05-21 21:51] rachely3n commented on #99
Closing as parameters that adjust timing are part of jenkins core, and autoscaling features are seen more explicitly with more instances/nodes launched.

[2019-05-21 21:51] #99 closed

[2019-05-21 21:53] rachely3n commented on #57
With #99 recently, it seems it'll be difficult to change the timing parameters such as the following:
````-Dhudson.slaves.NodeProvisioner.initialDelay=0 -Dhudson.slaves.NodeProvisioner.MARGIN=50 -Dhudson.slaves.NodeProvisioner.MARGIN0=0.85 -Dhudson.model.LoadStatistics.clock=10000 -Dhudson.model.LoadStatistics.decay=0.2````

They need to be passed through Java. Only thing I can recommend temporari

[2019-05-21 21:54] rachely3n commented on #94
Any updates? @dkfitbit

[2019-05-21 21:55] rachely3n commented on #95
@dkfitbit Not sure if this will fit your use case, but we have ways of sharing images across projects:
https://cloud.google.com/compute/docs/images/sharing-images-across-projects

[2019-05-21 22:05] ingwarsw commented on #61
@lukasova Are you using latest version of plugin?
There was recently fix for cleaning not own instances..

[2019-05-22 12:26] ingwarsw commented on #95
@dkfitbit You can use GCP templates to set whatever image you want..

@stephenashank Its one of the features that is outside `easy` path and can be left as feature for template usage..

[2019-05-22 16:59] rachely3n commented on #98
Any updates?

[2019-05-22 17:00] rachely3n commented on #95
@ingwarsw but will you be able to use images outside of your google project even in templates?

Using terraform to build the images sounds like a good idea, but my only concern is the user has already invested a lot of work into the GCP project whose sole purpose is to build packer images.

[2019-05-22 22:09] ingwarsw commented on #95
Yes..

Im not saying to drop packer.. its still needed for building images..
On top of that use terraform to build templates..

[code]

[2019-05-22 22:16] ingwarsw commented on #61
@lukasova You dont have maybe few jenkins configured with same cloud?

[2019-05-22 23:30] rachely3n commented on #61
Logs seem to show only 1 cloud?

[2019-05-23 07:50] ingwarsw commented on #61
Not many clouds on one jenkins..
But at least 2 jenkinses with same cloud.. (maybe some test instance)

[2019-05-23 07:52] ingwarsw commented on #61
@lukasova Check version at least 3.1.1

[2019-05-23 07:54] lukasova commented on #61
that's true. We have 2 Jenkinses configured with the same cloud. I never realized it could be related. I will update both plugins to version 3.2.0 and if it does not help I will disable testing version of Jenkins and we'll see. Thank you

[2019-05-23 20:01] rachely3n commented on #95
Ah, I see, my mistake, I meant building templates.

@dkfitbit any thoughts on these possible solutions to your use case?

[2019-05-23 21:46] andyshinn opened #104 "Allow way to check if instance is ready before starting agent"
I am doing some post-boot stuff with cloud-init and startup scripts to prepare my instance for Jenkins (mounting NVMe disks and post-boot Ansible playbook). I'm actually wanting to store Jenkins workspace data on the NVMe SSD for performance reasons which means I need to wait for this to complete before the plugin can copy and start the `agent.jar`.

In 3.0.0 I was able to hack around this by crea

[2019-05-23 22:12] stephenashank commented on #104
Thanks for submitting this! I like the idea of waiting for cloud-init. In the meantime, I've created #105 to restore the previous functionality.

[2019-05-23 22:59] andyshinn commented on #104
Thanks!

A slight amendment to my initial research about cloud-init. I am actually using the `google-startup-script` unit and it runs _after_ cloud-init (I assumed it would be part of cloud-init). Implementation details should take into account the startup-script service as well.

[2019-05-28 13:59] lukasova commented on #61
problem seems to be fixed after updating plugin to version 3.2.0. Hope it won't appear again :) thank you

[2019-05-28 17:38] rachely3n commented on #61
@lukasova thank you for being patient with us! Glad it worked out.

[2019-05-28 17:38] #61 closed

[2019-05-29 21:43] dkfitbit commented on #95
Considering that we're building a new image every day, then garbage collecting the images that aren't tagged as in-use, I'd really like to not have to copy the images to multiple projects, figure out how to copy the tags when they are updated, and then run the garbage collector script with an uber-credential that can manipulate images for multiple projects.

[2019-05-29 21:45] dkfitbit commented on #94
We haven't had time to upgrade from 1.0.5 (we're several months behind on our patching for all plugins, not just GCE).

[2019-05-29 22:59] stephenashank commented on #95
There are a couple alternative solutions which will involve some work on our part. What do you think of this proposal?

We add a new optional credentials dropdown to select a credential specific to the image selection.
By selecting the image project credentials, that project would appear in the dropdown instead of the configuration project. Then those credentials would be used to retrieve a list o

[2019-05-30 00:54] rachely3n commented on #98
I'll be closing this due to lack of activity. If issue persists, please re-open with full stack trace of failure.

[2019-05-30 00:54] #98 closed

[2019-05-30 14:21] jhartnett opened #106 ""Default" subnetwork in config.xml is configured in the wrong format and the rest of my subnets don't even appear in the drop down"
After setting up the plugin using the 'default' subnet, I got the error `Invalid value for field 'resource.networkInterfaces[0]': '{  \"accessConfig\": [{    \"type\": \"ONE_TO_ONE_NAT\",    \"name\": \"External NAT\"  }]}'. Subnetwork should be specified for custom subnetmode network"`when trying to add a slave. On the Jenkins server, I went to the config.xml and found `<networkConfiguration clas

[2019-05-30 18:24] rachely3n commented on #106
How did you set up the network in the first place?

[2019-05-31 07:57] ingwarsw commented on #95
@dkfitbit but as I wrote you can do that with templates..

Why cannot you use that solution?

[2019-05-31 20:46] rachely3n commented on #106
Update?

[2019-05-31 20:50] jhartnett commented on #106
That's a pretty vague question. How did I set up the network in Google? How did I set up network in the Jenkins plugin config? What information are you looking for?

[2019-05-31 20:59] rachely3n commented on #95
@dkfitbit Have you tried templates? They're supported by the plugin and quite pleasant to use: [Compute Engine Templates](https://cloud.google.com/compute/docs/instance-templates/)

@stephenashank and I have just tested sharing images outside of projects as well. [Reference here](https://cloud.google.com/compute/docs/images/sharing-images-across-projects#share)

Following the gcloud commands, I ra

[2019-06-03 17:52] rachely3n commented on #106
Are you setting it up via the UI in the instance configuration form? Using JCasC?
With the UI, there are auto-populated options that should work out of the box.

[2019-06-03 17:58] rachely3n commented on #106
Also, it would also help for me to see what your instance configuration is.

[2019-06-03 18:23] jhartnett commented on #106
I set set up the network in the Jenkins UI. It does have a drop down for subnetworks but the only that appears is 'default'. There aren't any other options.

The instance is Centos7 n1-standard-4. The service account has 'Compute Network Admin'.

![Screenshot at Jun 03 14-17-54](https://user-images.githubusercontent.com/25866868/58824597-714a4b00-860a-11e9-871e-9f2016b71464.png)

[2019-06-03 19:06] rachely3n commented on #106
https://github.com/jenkinsci/google-compute-engine-plugin/blob/8478452ad006be07557869418050e063cf9ac8e8/src/test/java/com/google/jenkins/plugins/computeengine/integration/ITUtil.java#L103-L104

If you see there, it seems what is in your config matches values we use for integration testing.

@stephenashank can you take a look?

[2019-06-03 19:46] jhartnett commented on #106
When I tried to bring in a new slave, I would get this error:

{
  "code" : 400,
  "errors" : [ {
    "domain" : "global",
    "message" : "Invalid value for field 'resource.networkInterfaces[0]': ''. Subnetwork should be specified for custom subnetmode network",
    "reason" : "invalid"
  } ],
  "message" : "Invalid value for field 'resource.networkInterfaces[0]': ''. Subnetwork should be specifi

[2019-06-03 20:12] stephenashank commented on #106
I was able to reproduce your problem in the UI: even when I had created a new subnetwork under the default network, it was not showing up in the list despite the service account having the Compute Network Admin role.

So I looked closer and realized that as it stands now, selecting the default subnetwork is required when default is chosen as the network, because no additional items are retrieved,

[2019-06-03 20:47] rachely3n commented on #106
Weird, how did you reproduce that? It works fine for me in the UI.

[2019-06-03 21:03] stephenashank commented on #106
I was only able to see subnetworks that were not default when I removed the block above.

To reproduce I did this: in cloud console, select **VPC network** then **VPC networks** and click on the *default* network. Then click *Add subnet* to create a custom subnet. Make sure to add it to the region that you are using for configuration, and choose any IP range that is allowed.

Then, I reopened the

[2019-06-04 08:35] phillanderson opened #110 "No support for adding shutdown script"
https://cloud.google.com/compute/docs/shutdownscript documents the process for adding a shutdown script. This will be very useful for us when dealing with pre-empted nodes. The functionality would be the same as startup script. I have it working locally so will put a PR up if this issue gets backing

[2019-06-04 09:33] phillanderson commented on #110
Looks like I missed a trick here and templates are what should be used. Sorry for the noise.

[2019-06-04 09:33] #110 closed

[2019-06-05 20:30] evandbrown commented on #95
Instance templates are a fine solution assuming the Jenkins user also has access to gcloud or the Cloud Console in order to create templates. But I think it's still important to support this functionality purely in Jenkins.

The [`projects` API](https://cloud.google.com/resource-manager/reference/rest/v1/projects/list) could be used to discover projects the credential has access to and append them

[2019-06-06 14:13] #57 closed

[2019-06-06 21:36] baldeynz opened #111 "Remote call on jenkins-workers failed. The channel is closing down or has closed down"
Hi there
We are using the google-compute-engine-plugin 3.0.0 and Jenkins 2.164.3 and we are having problems with what seems to be the plugin calling a delete on the VM before the jenkins job completes.
Google Compute Engine plugin Timeout settings for these instances are:
Launch Timeout: 300
Node Retention Time: 6

In our jenkins build logs that are errors like:

**20:48:52**  Cannot contact jenki

[2019-06-06 21:37] ingwarsw commented on #111
Switching to `3.2.0` should resolve issue..

[2019-06-06 21:40] baldeynz commented on #111
wow, quick response, thanks.. I will try the new version.

[2019-06-10 17:18] mattdlh opened #112 "Intermittent key exchange error and GCP "Internal Error" 13 on machine launch"
We have been using this plugin in Jenkins installed from [this guide](https://cloud.google.com/solutions/using-jenkins-for-distributed-builds-on-compute-engine) successfully for some time now. However recently, about 75% of the machines launched automatically by Jenkins are not successfully coming online, and leading to errors shown in the GCP logs.

We are seeing that when the launches fail, the

[2019-06-11 23:22] craigatgoogle commented on #112
Thanks for letting us know @mattdlh
We'll take a look and follow up with what we find.

In the meantime, could you please add a link a paste of the node log which includes a failure. Thanks.

[2019-06-12 21:02] craigatgoogle commented on #112
Also could you please include some more information:
1. Version of the GCE plugin.
2. Version of Jenkins.
3. Version of the OAuth plugin.

Thanks.

[2019-06-12 21:33] craigatgoogle commented on #111
@baldeynz have you had a chance to test out the 3.2.0 version?

[2019-06-13 00:03] baldeynz commented on #111
yes it seems to be working, we havent had the issue since upgrading to 3.2.0. thanks!

[2019-06-13 00:03] #111 closed

[2019-06-13 17:58] mattdlh commented on #112
Hey @craigdbarber thanks for the response - here is some more info as requested:

Node log: I am assuming you mean the log from inside Jenkins. It is attached as [jenkins-autolaunch-fail.log](https://github.com/jenkinsci/google-compute-engine-plugin/files/3287459/jenkins-autolaunch-fail.log) . I also have the logs from inside GCP of the API calls from Jenkins, which looks like it simply launches t

[2019-06-13 19:38] craigdbarber commented on #112
Thanks for the info @mattdlh Please do share the GCP logs if you can, any additional information would be helpful. Also, if you haven't already, please check out: https://support.cloudbees.com/hc/en-us/articles/115001416548-dedicated-JNLP-agents-formerly-slaves-get-disconnected
There might be some troubleshooting tips available there which could be of use.

[2019-06-13 20:55] mattdlh commented on #112
Sure thing, attaching [gcp-autolaunch-fail.json.log](https://github.com/jenkinsci/google-compute-engine-plugin/files/3288056/gcp-autolaunch-fail.json.log) (note it has specific names/IDs altered for privacy).

It looks like Jenkins successfully launches the machine but then sends another call to delete it. This is an intermittent error for us as I see that occasionally the machine is successfully

[2019-06-17 16:54] rachely3n commented on #106
Should be fixed as soon as we issue the next release.

[2019-06-17 17:37] craigdbarber commented on #112
Handing this issue off to @rachely3n who is our primary on-call engineer this week.

[2019-06-17 18:19] mattdlh commented on #112
Thanks @craigdbarber and @rachely3n

As an update I have tried some options from the link you shared above. Some of the cases there were not linked to a specific stack trace (as I do not see one with this error). One was the TCP timeouts, which I verified were higher than the suggested limits. The other were the `NioChannelSelector` and `JnlpSlaveAgentProtocol3`Java settings, which I tried enablin

[2019-06-17 19:59] craigdbarber commented on #112
Thanks for the follow up @mattdlh
To clarify, when you mentioned that this issue is happening with another Jenkins machine configured independently, do you mean independently of the GCE plugin?

[2019-06-17 20:06] mattdlh commented on #112
No I mean another machine with the GCE plugin installed and set up.

[2019-06-17 21:33] rachely3n commented on #112
Hang in there, I'm currently trying to make sense of the logs :).

Do you happen to have the instance configuration settings you're using? And do you know if this started to happen after possibly changing the plugin version or did it stay the same?

What kind of image are you using as well? The only thing I can think of with unexpected deletion is the periodic node cleanup we have, but I'm still a

[2019-06-17 22:10] mattdlh commented on #112
Thanks for investigating @rachely3n

Here are some of the instance configs, from Jenkins:
|||
|-|-|
|Launch Timeout|600|
|Node Retention Time|1|
|Usage|Only build jobs with label expressions matching this node|
|Number of Executors|1|
|Run as user|jenkins-slave|
|Remote Location||
|Java Exec Path|java|
|One-Shot - Enabled|off|
|One-Shot - Create Snapshot?|off|
|Region|us-central-1|
|Zone|us-centra

[2019-06-18 02:40] rachely3n commented on #112
I'm looking at the node retention time too. @mattdlh, how long do you all expect to keep your instances running?

Also to confirm, nothing was changed (plugin version, instance configuration, vm image) between the instances working fine previously to now when a certain portion of your instances can't maintain SSH connection.

For launch failures, do you happen to have the stack trace? jenkins-auto

[2019-06-18 02:47] mattdlh commented on #112
- Node retention time: we have 1 minute of idle time set for the nodes, since we use machines with GPUs, they can be expensive and we want to shut them down if idle at all. I can try to increase this though if you think it could be a cause?

- I am not sure about the timing of the issue starting and the plugin update. From what I can recall there was an update some time (about a week or two?) befo

[2019-06-18 02:52] rachely3n commented on #112
Also, do you think you can show me the Jenkins system log? If cleanup occurs, there will be log statements.

[2019-06-18 02:54] rachely3n commented on #112
O, but in the log attached,  if it says
[code]
that means launch was successful.

Let's try this after I see the system logs?

[2019-06-18 02:57] mattdlh commented on #112
Yep, I will grab system logs.

WRT the agent online - it does connect in some situations (like in the log attached), but even then Jenkins deletes the instance. Jenkins sends an API to GCE to remove the machine and it deletes the node from the nodes list; that why the 404 even after the "agent online". This all occurs relatively quickly.

[2019-06-18 05:16] mattdlh commented on #112
We are having a lot of issues with the plugin currently due to the increased launch time service issue (I saw a message in the GCP support page but cannot find a reference to it in the status page).

I do have a couple logs of note though from the Jenkin system log, these are around launch and termination:
[code]
And I also noticed this, not sure if it is relevant but looks related
[code]

[2019-06-18 16:52] ingwarsw commented on #112
For me seems that issue is 1 minute retention time.  It basically should be longer then startup time of instances..
If you have startup time 600s then your retention should be > 10.

If you want cut costs then best idea is to set all nodes as one shot, so they will start for each build and close directly after it’s finished (but retention time still needs to be hight enough).
Starting a node shoul

[2019-06-18 17:58] mattdlh commented on #112
@ingwarsw makes sense. This is easy to check I will increase the times and get back shortly. The 1 minute though was working for a period of about a month though; did something change (maybe longer spin up times) that could change the outcome?

Also, what did you mean by "set all nodes as one shot"?

[2019-06-18 18:37] mattdlh commented on #112
:tada: :tada: :tada:
@ingwarsw that did it! Moved it up to 10mins and the machines are staying online.. Seems like such a simple thing :disappointed: I think ~5mins should be good but will play with the times to get a good fit.
I am still curious as to why this worked with the 1 minute value for about a month though?

[2019-06-18 19:39] rachely3n commented on #112
Thanks @ingwarsw. Forgot that the node retention time also would include start up time for the VM. I will update the documentation.

@mattdlh  As to why it was working before, that's worth diving into on our side since that could really rack up costs for customers. Is it possible you can try to see if anything changed between the nodes staying online and this sudden termination (plugin update, dif

[2019-06-18 19:54] mattdlh commented on #112
There was an increase in the image size by about 60GB around the time of the timeouts, not sure if that increases time to launch them.
I believe the plugin version and Jenkins versions were updated to the most recent (from their previous versions) as well.

The one-shot builds is a very helpful tip.

Thank you! I will go ahead and close this issue as it is resolved now.

[2019-06-18 22:10] rachely3n commented on #112
Cool! I think increasing the image size by 60 GB could definitely have an impact. Also possible that if you changed regions that would slow you down as well. I'm going to comb through our recent commits to make sure we didn't make code changes that lead to longer boot times somehow (I highly doubt it, but it's still worth doing). Also putting out PR to clarify node retention time.

[2019-06-18 22:13] #112 closed

[2019-06-21 21:18] rachely3n commented on #106
Cut a release! Let me know how it goes @jhartnett. It is release 3.3.0.

[2019-06-21 21:19] rachely3n commented on #104
I've cut a release 3.3.0 that has #105 included. Please try it out and let us know how it goes.

[2019-06-26 11:07] yuri-sergiichuk commented on #106
I do have a concern about the current implementation because after updating to the latest v3.3.0 I receive the following response from the plugin while trying to start a slave:
[code]

In my project, I still have a `Legacy VPC network` and thus there are no dedicated sub-networks in it. I have downgraded the plugin version to v3.2.0 to be able to start slaves again.

[2019-06-26 17:22] craigdbarber commented on #106
@stephenashank it looks like the previous PR which was submitted for this issue is not interfering with customers using legacy VPCs. Could you PTAL. Thanks.

[2019-06-26 17:23] craigdbarber commented on #104
Closing this with the release of 3.3.0. Please feel free to re-open if the issue persists.

[2019-06-26 17:23] #104 closed

[2019-06-26 17:24] craigdbarber commented on #95
@dkfitbit has the suggested approach with templates resolved this issue?

[2019-06-26 18:16] stephenashank commented on #106
I was able to track down the issue:
https://github.com/jenkinsci/google-compute-engine-plugin/blob/bc082bd832e83b0620772b3b7ea7e1f3b06e01a3/src/main/java/com/google/jenkins/plugins/computeengine/InstanceConfiguration.java#L489-L492

Previously when using a legacy VPC, I'm guessing the default subnetwork would be used in the NetworkConfiguration for the instance, and then in the block above when co

[2019-06-26 18:26] yuri-sergiichuk commented on #106
In my case, with the plugin v3.2.0, the subnetwork is automatically set to `default`. Is it what you're asking?

[2019-06-28 00:03] stephenashank commented on #106
Yes that answered my question. The behavior should be restored for legacy VPCs with release 3.3.2 which was just deployed. It can take up to 8 hours to reach the update center, so please check that out when you can.

[2019-07-03 08:51] lukasova opened #123 "Unable to set periodically deletion of created snapshots"
I would like to ask, how can I configure some automated deletion of snapshots created via your Compute Engine plugin in Jenkins. There is no option for that in Jenkins. Also I did not find anything like that in Google Compute Engine what would be applicable to snapshots created by your plugin. Could you please help me with it?
 Thank you

[2019-07-03 16:17] sce81 opened #124 "One-Shot not functioning"
Hey there, i've noticed recently that the one shot feature is not functioning correctly and my jobs are all trying to load onto the same instance, despite the flag being enabled.

[2019-07-03 16:32] sce81 opened #125 "${WORKSPACE} is now /tmp/workspace/<job>"
I don't know when or how this changed from ./.jenkins-slave but it is now copying to this directory.
i have tried manually defining /home/ubuntu/.jenkins-slave but this fails as the directory does not exist

[2019-07-03 20:22] stephenashank commented on #125
Hi @sce81, thanks for raising this. Thisbehavior was changed with #44 and released with version 3.0.1.

By specifying **Remote Location** in your instance configuration, you can change this from `/tmp` to any path you choose. workspace and job name are appended to the path by Jenkins. It looks like the documentation in the help file for this field is outdated so I will fix that. Thanks for bringin

[2019-07-03 21:10] stephenashank commented on #124
Hi @sce81, thanks for raising this. I have unsuccessfully attempted to recreate this bug and I'll need more information to figure out the problem, so I'd appreciate if you would answer these questions:

1. What version of the plugin are you running?
1. Are you using configuration as code or configuring through the Jenkins UI?
1. Do you have multiple instance configurations with OneShot enabled?
1.

[2019-07-03 22:20] stephenashank commented on #123
Hi @lukasova, are you referring to [scheduled snapshots](https://cloud.google.com/blog/products/compute/introducing-scheduled-snapshots-for-compute-engine-persistent-disk)? This is a beta feature that we currently don't offer support for, in that there is no way to assign a scheduled deletion to snapshots created by this plugin. I think when it becomes generally available it would be something we'

[2019-07-04 09:44] sce81 commented on #125
great thanks.

[2019-07-04 09:44] #125 closed

[2019-07-04 09:58] sce81 commented on #124
What version of the plugin are you running? **3.3.0 & 3.3.2**

are you using configuration as code or configuring through the Jenkins UI?
**code - jenkins DSL pipelineJob**

Do you have multiple instance configurations with OneShot enabled? **yes**

What is the value of Instance Cap for the Google Compute Engine Cloud which contains the configuration(s)? **20**

In the one shot enabled configurati

[2019-07-08 04:34] ExalDraen commented on #95
I second this request. While the workaround of using templates suggested by @ingwarsw does work, it requires the user to have a good workflow for generating and updating templates, e.g. terraform.

Not everyone has that so this would be a useful addition.

At a minimum, this restriction should be documented in the docs (this could include a suggestion to use templates as a workaround).

[2019-07-10 12:33] ingwarsw commented on #124
Change executors to 1 and thy again..

I have no idea what will happen with more than 1 executor with one shot..
Probably it cannot stop instance because it have other executors..

[2019-07-11 13:55] trik opened #127 "ssh-keys added twice in metadata request when instance template has already defined keys"
[code]

[2019-07-15 19:31] stephenashank commented on #106
@yuri-sergiichuk Was your issue resolved?

[2019-07-15 19:48] yuri-sergiichuk commented on #106
@stephenashank yep! Thanks for your efforts and sorry for being late with the response.

[2019-07-15 19:52] stephenashank commented on #106
No worries. In that case I will close this out.

[2019-07-15 19:52] #106 closed

[2019-07-15 20:22] stephenashank commented on #124
I tried using two executors with one shot, with an instance cap of two. Only one instance was created, and it attempted to run both builds on the same instance. However, because the build that I ran second was shorter than the first, it finished before the first build could finish, and the instance was terminated without finishing that build.

[2019-07-17 17:12] #127 closed

[2019-07-26 14:28] ingwarsw commented on #53
@stephenashank I think it can be closed.. AFAIK all issues with JCasC was resolved..

[2019-08-05 22:15] stephenashank commented on #124
Hi @sce81, have you had an opportunity to test out version 3.4.0 and see whether the one-shot feature is working as intended for you?

[2019-08-10 07:06] switchtrue opened #132 "Option to disable Proxy"
When a proxy server is configured for Jenkins, this plugin loads that proxy data when establishing the proxy connection.

https://github.com/jenkinsci/google-compute-engine-plugin/blob/875a671a4b9e2fc27e55c8977393df2d8f0e29c3/src/main/java/com/google/jenkins/plugins/computeengine/ComputeEngineLinuxLauncher.java#L187

In my configuration a proxy server is used for external traffic (e.g. download pl

[2019-08-12 19:28] stephenashank commented on #132
Hi @switchtrue, thanks for this suggestion! Our team is currently at [DevOps World](https://www.cloudbees.com/devops-world/san-francisco) but can look into this soon.

Given the small scope of this change, note that we also accept community contributions if you have the time and inclination. See [CONTRIBUTING.MD](https://github.com/jenkinsci/google-compute-engine-plugin/blob/master/CONTRIBUTING.md

[2019-08-12 19:30] stephenashank commented on #124
Marking this as closed after inactivity, given that the fix has been released. Let us know if there are other issues.

[2019-08-12 19:30] #124 closed

[2019-08-16 23:41] stephenashank opened #134 "Allow configuration of SSH port and timeout for ComputeEngineComputerLauncher"

[2019-08-16 23:44] stephenashank opened #135 "Use better exception for SSH timeout in ComputeEngineComputerLauncher"

[2019-08-16 23:49] stephenashank opened #136 "Handle multiple network interface controllers when attempting to connect to instance"
Not sure exactly what was intended behind this TODO but I am assuming it refers to being able to fall back to other NICs if the connection to one fails, or give the ability to specify it instead of using just the first one.

[2019-08-16 23:50] stephenashank opened #137 "Verify server host key when connecting to instance over SSH"

[2019-08-20 15:57] FellTarsier opened #138 "OSLogin prevents Jenkins from SSH'ing into worker nodes."
When `enable-oslogin=TRUE` is set at the project metadata level, Jenkins is unable to SSH into any worker agents.  I have verified that the Jenkins server itself, using `gcloud compute ssh`, can ssh into worker agents as the service account the GCE instance is running under.  Setting `enable-oslogin=FALSE` allows Jenkins to SSH into any worker agents immediately.  It would be great if Jenkins coul

[2019-08-22 11:55] virilo opened #139 "broken link to GCP Slack community in readme.md"
There is a link to an GCP slack invitation in readme.MD: "The GCP Jenkins community uses the #gcp-jenkins slack channel on https://googlecloud-community.slack.com to ask questions and share feedback. Invitation link available here: http://bit.ly/gcp-slack. "

But following this link I get a message error ( invitation link non active )

BTW:  Is is possible to join this slack.  My email is virilo a

[2019-08-22 21:22] stephenashank commented on #139
There is a larger problem with the slack invite link from https://cloud.google.com/community, so until that is fixed you can join the community slack through https://googlecloud-community.slack.com/signup then join the #gcp-jenkins channel.

[2019-08-22 21:53] stephenashank commented on #138
Thanks for letting us know. I gave some suggestions* in the #gcp-jenkins channel on the GCP community slack for ways to modify your IAM configuration to attempt to enable this. The way that we are connecting to GCE VMs at the moment means we can not use `gcloud compute ssh`.

*Here's a transcription:
"First, see https://cloud.google.com/compute/docs/instances/managing-instance-access#service_accou

[2019-08-23 06:24] virilo commented on #139
thanks a lot @stephenashank !

I followed the alternative link, but it is only for @google.com accounts.  The domain @google.com is fixed in the form.

Is it possible to receive an invitation via email?  Otherwise, I could wait for the problem with the first link to be solved

[2019-08-28 07:45] virilo commented on #139
yes, it is working

thanks!

[2019-09-04 22:45] flokli opened #141 "support oslogin"
Currently, starting instances requires creating an ssh keypair, adding the pubkey to the projects metadata, and baking it into the image.

There's images available which support oslogin just fine.

It would be very convenient if this plugin would also support using oslogin for ssh access, and then su(do) to the specified user.

[2019-09-05 20:09] craigdbarber commented on #141
Duplicate of: https://github.com/jenkinsci/google-compute-engine-plugin/issues/138

[2019-09-05 20:09] #141 closed

[2019-09-24 13:47] yurok15 opened #144 "Remote instance ci-centos-7-pjfhx1 not found locally, removing it"
Hello all.
After restarting jenkins we begin experience issues with deleting agents. Jenkins kill agent after it successfully started. Here is a log messages:

INFO: Started provisioning ci-centos-7-pjfhx1 from gce-gce with 1 executors. Remaining excess workload: 0
Sep 24, 2019 9:35:09 AM com.google.jenkins.plugins.computeengine.ComputeEngineCloud lambda$getPlannedNodeFuture$0
INFO: Waiting 300000

[2019-09-24 21:13] stephenashank commented on #41
Considering this resolved with #140 which uses parallelized snapshot creation.

[2019-09-24 21:13] #41 closed

[2019-09-24 21:15] stephenashank commented on #39
Plugin removes need to manually provision instances.

[2019-09-24 21:15] #39 closed

[2019-09-24 21:17] #53 closed

[2019-09-24 21:23] stephenashank commented on #63
Given that this can be accomplished with instance templates, closing.

[2019-09-24 21:24] #67 closed

[2019-09-24 21:26] stephenashank commented on #72
Fixed in #113

[2019-09-24 21:26] #72 closed

[2019-09-24 21:28] stephenashank commented on #75
Closing as outdated. If you encounter this issue, feel free to reopen.

[2019-09-24 21:28] #75 closed

[2019-09-24 21:29] #78 closed

[2019-09-24 21:31] #81 closed

[2019-09-24 21:36] stephenashank commented on #96
Resolved in #105 and #133

[2019-09-24 21:36] #96 closed

[2019-09-24 21:37] stephenashank commented on #132
Fixed in #133, released with 4.0.0.

[2019-09-24 21:37] #132 closed

[2019-09-24 21:44] stephenashank opened #145 "Update documentation"
Currently [documentation](docs/Home.md) is incomplete and outdated.

[2019-09-24 21:44] stephenashank commented on #145
Specifically, more documentation related to templates should be added to avoid confusion with issues such as #63.

[2019-09-25 02:39] dkozlov commented on #63
@stephenashank, Will GPU support in Machine configuration UI be available only with instance templates? If yes, then will GPU controls  in Machine configuration UI other than instance templates will be disabled?

[2019-09-25 20:42] stephenashank commented on #63
I'm revisiting this today, and realize that it is possible still to create instances with GPUs without using instance templates. By checking "preemptible", this also by definition means that it will terminate on host maintenance. The disadvantage of this is that your instance could possibly be terminated even without maintenance. The other workaround is to use an instance template, which provides

[2019-09-25 20:50] stephenashank commented on #63
For reference, this issue now tracks the specific work of changing the value of "onHostMaintenance" when the AcceleratorConfiguration is defined in the scheduling() method of InstanceConfiguration.java. This is a small scope to change but because there are workarounds, moving to backlog right now.

[2019-09-26 00:35] cmbasnett commented on #39
Shouldn't the correct response be to remove the ability to even encounter this error in the first place?

[2019-09-26 22:29] stephenashank commented on #39
Thank you for the feedback. We've been in the process of clearing out our issue backlog, so when I initially responded I didn't have complete context on what was being asked and answered too quickly. After revisiting the issue I understand why we don't (and have no plans to) support provisioning nodes in the way the initial reporter described. It may be possible to make the response less jarring t

[2019-10-02 18:19] francisbolduc opened #146 "Add "Turn on display device" option to Compute Instance"
At the moment, the option "Turn on display device" is absent in the google-compute-engine-plugin.

I think I could use the Instance template via google cloud console to mitigate this problem.
However, terraform or google deployment manager don't seem to support the option to turn on display if I want to have infra-as-code.

[2019-10-09 03:00] litan1106 opened #148 "One-shot vm not getting gce preemptible event and not retry"
Cannot contact ubuntu-1804-lts-spot-ojrbv0: hudson.remoting.ChannelClosedException: Channel "unknown": Remote call on ubuntu-1804-lts-spot-ojrbv0 failed. The channel is closing down or has closed down
Cancelling nested steps due to timeout
Could not connect to ubuntu-1804-lts-spot-ojrbv0 to send interrupt signal to process

ubuntu-1804-lts-spot-ojrbv0 was marked offline: Connection was broken: jav

[2019-10-09 07:31] psalaberria002 opened #149 "Authentication not working as expected when running GKE with a service account"
Hello,

I have a GKE cluster configured to use a service account for the nodes. In addition I have created a separate service account with elevated permissions for the GCE Jenkins plugin.

I noticed that the GCE Jenkins plugin ignores the Service Account Credentials provided in the configuration section, and instead authenticates with the service account that the nodes are running as.

I get the f

[2019-10-10 01:24] stephenashank commented on #144
Hi @yurok15, I will need some more information to help debug this.
* Was the instance `ci-centos-7-pjfhx1` created before or after the restart?
* If after, how you are provisioning agents (i.e. provisioning manually or being provisioned due to jobs queueing with the corresponding label)?
    * Related: How soon after restarting are these agents being provisioned?
* What value is configured for "No

[2019-10-10 01:33] stephenashank commented on #148
Hi @litan1106, can you tell me more about this One Shot VM?
If I understand the question correctly, you would have the boxes for "One Shot" and "Preemptible" checked for this configuration, right?
Also, what is the "Node Retention Time" for the configuration?

[2019-10-10 02:02] stephenashank commented on #149
Hi @psalaberria002, can you tell me whether the first service account (on the cluster) had the Service Account User role before you added more permissions? If not then this was likely the missing permission, as the cluster service account must be authorized to act as the second service account using the selected credentials.

If it already had those permissions, are these service account credentia

[2019-10-10 13:38] litan1106 commented on #148
@stephenashank correct. here is my settings

Node Retention Time: 6
Number of Executors: 1
Launch Timeout: 300
One-Shot: checked
Preemptible?: checked

[2019-10-10 18:31] stephenashank commented on #148
@litan1106 After attempting to reproduce this I think I have an idea of what is going on. Whether you were manually testing preemption through "simulate-maintenance-event" or had unfortunate luck with limited resource availability in the VM's zone, it seems that the machine may have been preempted too early in the launch cycle.

In order to check for a preemption event, we need to connect to the a

[2019-10-13 17:15] #148 closed

[2019-10-23 11:22] victorboissiere opened #150 "Builds are not being retried after preemptible VM failure"
I've checked the logs on the installation of the slave agent and I see that there is a preemptible listener so that if the instance is being terminated the build should be retried on another slave automatically.

However, a build failed due to a communication issue:
[code]
master logs:
[code]

It may be related to the fact that this instance has been terminated without warnings. If that is the cas

[2019-10-30 17:17] rkirkpat opened #153 "google-oauth-plugin update breaks GCP agents"
Just upgraded 'google-oauth-plugin' to v1.0.0 this morning and after master restart attempts to launch GCP agents I am getting this error repeatedly in the master's log:
[code]

The 'google-compute-engine-plugin' is at the latest available, 4.0.0, Jenkins just upgraded to 2.190.2 LTS. If I downgrade the 'google-oauth-plugin' to 0.10 then I am able to launch GCP agents fine:
[code]

Maybe a compati

[2019-10-31 17:33] rkirkpat commented on #153
Thanks, I upgrade to v4.1.0 of the 'Google Compute Engine' plugin, as well as version 1.0.0 of the 'Google OAuth Credentials' plugin, and restarted my Jenkins master. Went to Manage Jenkins -> Configure System to review cloud settings and got an oops:
![image](https://user-images.githubusercontent.com/19275599/67971157-ddd57000-fbd1-11e9-9bc0-bf52e5583349.png)

In the master's logs found this full

[2019-10-31 18:20] kjing opened #155 "can not spin up new GCE vms"
we upgraded Jenkins server from 2.190 to 2.200 or 2.202, "GCE plugin" from 3.4 to 4.0, "ssh credentials" from 1.17.1 to 1.18, "ssh slaves" from 1.30.1 to 1.31.0, and many other plugins. please see the below list.
After upgrade, GCE plugin can not spin up any new VMs.
The errors are from log file:
===================
2019-10-29 21:22:31.335+0000 [id=35] INFO c.g.j.p.c.ComputeEngineCloud#availableNo

[2019-10-31 20:36] mattdlh commented on #153
We are also having issues with GCP cloud config after the update. Jenkins hangs on "loading" for the main configure page, unless all GCP cloud entries are removed from the config (manually). New GCP entries can no longer be added to the list of clouds in Jenkins config with the following stack trace in jenkins logs:

[jenkins.log](https://github.com/jenkinsci/google-compute-engine-plugin/files/379

[2019-10-31 21:00] stephenashank commented on #153
@rkirkpat @mattdlh With version 4.1.1 these issues should be resolved. I was able to reproduce this behavior with 4.1.0. I didn't catch it originally due to using an outdated version of the 4.1.0 snapshot when testing.

With the 4.1.1 snapshot, I didn't encounter these problems. When that version hits the update center, let me know if that fixes the issues for you as well.

[2019-10-31 22:59] stephenashank commented on #155
Hi @kjing, if you refresh the available plugins in the update center you should be able to get version 4.1.1, which resolves this issue. Let me know if you still encounter issues with that version.

[2019-11-01 09:50] lienerieksta commented on #153
4.1.1 fixed the issue of configure page hanging for me.

[2019-11-01 12:51] brunocvcunha opened #156 "Instances are launched even though Jenkins is "preparing to shutdown""
It would be good to avoid the creation of new slaves if Jenkins is set to shut down, I can't think of a good reason to do it.

[2019-11-01 18:00] mattdlh commented on #153
Configure page back to loading for us as well on 4.1.1. Thank you @stephenashank

[2019-11-01 18:58] mattdlh opened #157 "Launched VMs are shut down during builds"
We have been using this plugin successfully for some time, but recently started having VMs be shut down mid-build. For example, a job that uses a GCP cloud will start, spin up a VM in GCP, and begin running on the VM; after about 45m-1hr the build will fail with a `Unexpected termination of the channel` and the VM will show `stopping` in the GCP console.

Looking at the stackdriver logs in GCP, it

[2019-11-03 23:24] rkirkpat commented on #153
Confirmed, v4.1.1 of the 'Google Compute Engine' resolves all of the issues I reported above. Now able to build with GCP agents once again. Thanks!

[2019-11-03 23:24] #153 closed

[2019-11-06 08:40] francisdb opened #159 "no page found 'configure-entries.jelly' for class ComputeEngineInstance"
Jenkins 2.203
Google Compute Engine Plugin 4.1.1

When trying to add a node in the nodes management after selecting `Google Compute Engine`, giving a name and clicking OK I get the following stacktrace:

[2019-11-06 10:22] dmitriykanarskiy commented on #157
Also have this issue, would appreciate any help

[2019-11-06 18:24] stephenashank commented on #159
Hi @francisdb. This is a duplicate of #39. To briefly recap, with the way that instances are currently configured and provisioned, we provide a read-only view for ComputeEngineInstance. In order to provision nodes manually, you first need to make a cloud and configuration through the "Configure System" link on the "Manage Jenkins" page, or "<your jenkins url>/configure". Then on the build executor

[2019-11-06 18:26] stephenashank commented on #145
Referencing #159 here as another issue similar to #39. Instructions need to be provided in the documentation for how to manually create instances.

[2019-11-06 18:27] #159 closed

[2019-11-06 18:38] stephenashank commented on #157
@mattdlh, @dmitriykanarskiy thanks for reporting this. Can you look at the System logs for Jenkins  and tell me if you see anything from this plugin regarding the "node cleanup work" when this happens?

Can you also tell me these configuration settings:
- One-Shot: Enabled
- Windows?
- Preemptible? (Or Preemptibility in the instance template)

Thanks.

[2019-11-06 19:49] mattdlh commented on #157
@stephenashank Looking through the logs I do not see anything regarding "node cleanup work" around when this happens (or at all). I see no messages from the plugin in the jenkins logs at all around the shutdown event.

One-Shot: unchecked
Windows: no
Preemtible: no

[2019-11-07 19:16] #137 closed

[2019-12-02 13:53] mdelapenya opened #165 "Update documentation about adding workers from images: warn about having Java installed"
As the connection from master to worker is using SSH, I'd see it very convenient to inform the users that Java must be installed in the image used to build the workers. I noticed that the SSH-slaves plugin already does that: https://github.com/jenkinsci/ssh-slaves-plugin/blob/master/doc/CONFIGURE.md#prerequisites:

I simple warning message before the image select input could be enough.

[2019-12-04 11:01] dabeck opened #167 "Jenkins "forgets" GCE Configuration"
Every now and then our Jenkins forgets the configuration of the GCE Plugin. Especially the part markes below:

[code]

Does anyone have a recommendation what to do or whether this is a problem with the plugin or with jenkins in general?

Jenkins ver. 2.190.3
google-compute-engine@4.2.0

[2019-12-05 13:36] Luschgy commented on #157
I also have this Problem, any help is appreciated

[2019-12-09 19:05] jesusdiez commented on #157
Another affected here... 😞

- One-Shot: checked/unchecked (happens on both)
- Windows: no
- Preemtible: checked/unchecked (happens on both)

No `node cleanup work` on logs either.

We tested different configurations, node retention times and in each of them we get the same error.
We also tried to rollback to previous plugin version but we had to update again as the old versión has a problem rollin

[2019-12-09 19:11] craigdbarber commented on #157
Hi @mattdlh sorry to hear you're encountering issues. Could you please share some more info to help us better diagnose this:
* GCE Plugin Version
* Jenkins Version
* List of other installed plugins/versions

Thanks.

[2019-12-09 19:17] craigdbarber opened #168 "Make host ssh key warning clear that the job is still running"
Some confusion has arisen from the log warning emanating from this line: https://github.com/jenkinsci/google-compute-engine-plugin/blob/a654acd5bc9d912847462782bcd2f48fd94130cd/src/main/java/com/google/jenkins/plugins/computeengine/ComputeEngineComputerLauncher.java#L477

The log message should make clear that the node is still functioning properly.

[2019-12-09 19:18] craigdbarber commented on #157
@jesusdiez thanks for sharing the log. Just as an FYI, the log warning: "Failed to verify server host key because no host key metadata" **does not** indicate a job failure. It's just the plugin letting you know that it can't verify the server's ssh host key coming from this line: https://github.com/jenkinsci/google-compute-engine-plugin/blob/a654acd5bc9d912847462782bcd2f48fd94130cd/src/main/java/c

[2019-12-09 19:21] craigdbarber commented on #167
@dabeck thanks for reporting this. How often would you say this occurs? Does it corresponding with a plugin upgrade per chance?

[2019-12-09 19:31] jesusdiez commented on #157
@craigdbarber Thanks for the info! I already supposed that but didn't find a place in the config to  to disable that check. I've updated my original comment with the versions and installed plugins. Let me know if I can help debugging that in any way.

[2019-12-10 10:04] dabeck commented on #167
@craigdbarber It occurs a minimum of once a week and furthermore everytime jenkins reboots due to a crash or something else. I think it might be related to the last plugin update. I'll try to do a rollback and see if this fixes the problem.

[2019-12-10 11:01] jesusdiez commented on #157
@craigdbarber , we've been checking and the instance **also gets stopped** when no `agent.jar` process is running on it, or even when the jenkins service is stopped on master host... and also when both are happening: we forced everything trying to discover what is happening.

We're thinking about something that is being predefined on the instance creation that makes it get automatically stopped af

[2019-12-10 18:13] craigdbarber commented on #167
Sounds good. Please keep us posted.

On Tue, Dec 10, 2019 at 2:04 AM Daniel Becker <notifications@github.com>
wrote:

--
Craig Barber
Tech Lead - Cloud Graphite: CI/CD

[2019-12-10 18:15] craigdbarber commented on #157
@jesusdiez could you try rolling back to a previous version to see if the issue is still occurring?

[2019-12-11 00:06] craigdbarber commented on #157
Separately, I'd suggest following this troubleshooting guide on the topic to see if it helps alleviate the issue: https://wiki.jenkins.io/display/JENKINS/Remoting+issue
If one of the steps they recommend does help, please do follow up here with the info.

[2019-12-11 08:15] jesusdiez commented on #157
We had to recover an old snapshot of the jenkins machine. We've been very conservative on this specific plugin updates, as we've suffered other bugs in the past. We were forced to update from 1.0.10 to 4.20 because we did other non-bc (ha!) system plugins update and each execution was creating infinite agent machines (something was broken on the master-agent connectivity and it didn't detect the n

[2019-12-11 18:20] mattdlh commented on #157
@craigdbarber

GCE Plugin Version: 4.2.0 and we have tried downgrading to 4.1.1 with the same issue.
Jenkins Version: 2.190.3
List of other installed plugins/versions:

[code]

[2019-12-11 22:51] kjing opened #169 "after a new VM launched by GCE plugin, connect to github.com 443 timeout"
we see a large amount of connection to github.com:443 timeout error after 11/12.  see the issue in current GCE plugin 4.2 and plugin 4.0 both. we reported the issue to google about 3 weeks, still did not get a longterm solution yet. they create a PR about the issue, https://issuetracker.google.com/issues/146072599

is there anything you can help to figure out the root cause and provide a fix? than

[2019-12-13 17:09] verdverm commented on #63
What about adding another option for host maintenance policy?

Does it make sense to have better parity with the GCP console options?

[2019-12-14 14:05] isabellf commented on #157
I am getting the same issue.
I setup a staging server that was working properly but when I re-built it for production it didn't.
Since I still have the staging server around, I was able to compare the plug versions.

Jenkins ver. 2.208
The unexpected thing is that both are using GCE Plugin Version: 4.2.0

[code]

[2019-12-15 06:50] isabellf commented on #157
For the record, I found out the culprit in my installation, the cloud instanceId/jenkins_cloud_id
 in the config file. It was duplicate! As a result, the working instance (which was idle), ended up cleaning up the *apparently* orphaned slave instances.
[code]
So for me, this issue is gone and my advice is too verify your cloud config XML.

[2019-12-18 10:48] dabeck commented on #167
After a rollack to 4.0.0 the configuration doesn't get purged BUT the configuration is now kind of incompatible. Did not have much time to look into it. Jenkins throws an exception with 4.0.0

[code]

[2019-12-18 13:24] Luschgy commented on #157
@isabellf could you post your config XML for comparision ?

[2019-12-19 00:26] ansafonov opened #170 "[Feature] No configuration to set GCE labels of the launched instance"
There is not way to set GCE labels of the newly created instances.

The only labels that are set seem to be set by this code:
[code]
Where keys are predefined:
[code]

What is desired:

GCE Labels are configurable via UI and JCASC configuration.

[2019-12-19 01:00] stephenashank commented on #170
@ansafonov Thanks for reporting this. As a workaround for now this is possible with instance templates.

[2020-01-06 10:19] androa commented on #157
I'm having this issue as well with preemtible nodes.

At first this error message made me suspect it might be some kind of timeout issue with the HTTP call for getting the preemptible signal:

[code]

But I set up a cURL-call to the same endpoint, without any issues. I also get the `TRUE` response when the node is set into maintenance mode.

The log for the node says:

[code]

To me it seems very

[2020-01-06 13:58] androa commented on #157
I've been going at this issues from a couple of different angles and tried to pinpoint exactly what causes this behaviour.

So far I've gathered that Jenkins connects to the GCP node over SSH, copies the agent/remoting jar, and runs it. It then starts an async task/future on that machine to listen for the "preemtive" event in the GCP API.

The issue I'm seeing is that no matter how I turn off the

[2020-01-06 14:37] victorboissiere commented on #149
Hi, I have the same issue:

![image](https://user-images.githubusercontent.com/4125799/71824512-05492d00-309a-11ea-8483-d7d149695ad1.png)

However, I use only one service account and do not need a second one. I've checked access scope from the compute instance (full API access).
I've also uploaded the key on the instance and tested manually with `gcloud compute regions list` and it works without i

[2020-01-06 14:59] victorboissiere commented on #149
Ok on my side I've rollbacked Jenkins to `2.211` (from `2.212`) and the issue is fixed!

[2020-01-08 01:03] andyshinn opened #171 "Instances not reconnecting after Jenkins restart"
Plugin version is 4.2.0. If I delete the instances the plugin will delete, create, and then connect again just fine. Nothing in the agent log in UI. The following error keeps coming across in Jenkins logs after restart:

[code]

These operations don't exist in the GCP UI. Not sure what operations it is looking for. The timestamps in the ID are for about a month back it looks like.

Let me know wha

[2020-01-09 10:38] androa opened #172 "Listener for preemption event stops working after a while"
We are using preemptive nodes. We experience that Jenkins abruptly looses connection to the node when it is preempted.

We are also having a lot of messages like this:
[code]

They seem to be repeating every 15 minutes, and seems to be caused by the scheduled retention strategy.

Having followed the code I believe what's happening is this: Something (not sure quite what) causes the [long polling r

[2020-01-10 12:23] androa commented on #139
This seems to have broken again, the link now says:

[2020-01-15 01:35] jsoref opened #174 "docs seem missing: More info on firewall rules in GCE is available here."
https://github.com/jenkinsci/google-compute-engine-plugin/blame/develop/docs/Home.md#L102

I expect "here" to be a link to somewhere...

(Also, a11y best practices discourage using `here` as link anchors.)

[2020-01-15 02:25] jsoref opened #175 "Support user specified ssh key"
#101 seems to try to set the ssh key via metadata.

Unfortunately, that isn't working for our system where another file system gets mounted over the jenkins user's home directory (which already has an ssh key that the jenkins master has been using to connect to our image-templated instances).

We'd like to be able to specify the ssh key that jenkins uses to connect to the vm.

This doesn't seem to

[2020-01-16 11:03] johannespostler commented on #149
I'm experiencing the same issue with only one service account on Jenkins 2.204.1 and plugin version 4.2.0
The service account has all permission mentioned in [the docs](https://github.com/jenkinsci/google-compute-engine-plugin/blob/develop/docs/Home.md) and a [google example](https://cloud.google.com/solutions/using-jenkins-for-distributed-builds-on-compute-engine).

Any ideas?

[2020-01-22 13:46] v1v opened #180 "Slack channel invitation seems to be broken"
![image](https://user-images.githubusercontent.com/2871786/72899319-a6341b00-3d1d-11ea-8307-2cd2491d7acb.png)

[2020-01-22 13:53] v1v opened #181 "GitHub checks per PR are not reachable"
Not sure if that's the intended behaviour, but there is nog GitHub check related to https://ci.jenkins.io/job/Plugins/job/google-compute-engine-plugin/

Unfortunately, I cannot access https://jenkins.cloudgraphite-cicd.net/, even though I granted access with my GitHub account.

Could it be possible to add the check to the ci.jenkins.io repo? Or enable access to jenkins.cloudgraphite-cicd.net?

![i

[2020-01-23 09:40] v1v opened #182 "Support for using Images from other projects"
I just found this https://github.com/jenkinsci/google-compute-engine-plugin/issues/95 that I'm not 100% sure whether it's related to.

### Current GCP design and Jenkins UI setup

- Service account: `jenkins-gce` for the projectID `jenkins`.
- ProjectID with the images: `images-prod`.
- Besides of the required roles, the abovementioned service account got the `computeImageUser` role for the `image

[2020-02-06 04:31] kjing commented on #169
any progress about this issue? we still see a lot 443 timeout errors.

[2020-02-10 13:05] v1v opened #184 "Workers get blocked by when request several of them in parallel at the same time"
I'm testing https://github.com/jenkinsci/google-compute-engine-plugin/pull/183 and it seems there are a bunch of threads that get blocked by and therefore the plugin doesn't support a bunch of parallel requests. I also tried with the current latest version and the same behavior.

### Test scenario:
- 300 CAP with a pipeline that runs 100 parallel stages.
- Jenkins core 2.109
- Trilead-api plugin v

[2020-02-12 15:00] bolfran001 commented on #146
FYI, it is now possible to use terraform to "Turn on display device" using `enable_display` :
https://www.terraform.io/docs/providers/google/r/compute_instance_template.html#enable_display

[code]

[2020-02-12 17:23] #180 closed

[2020-02-24 16:04] francois-baptiste commented on #139
Look at https://cloud.google.com/community there is an updated link:

https://join.slack.com/t/googlecloud-community/shared_invite/enQtODgwMzAyMzg2NTE2LTM5OGMwYmMyMjUxMDJiMmZlNTkyMWQ2YzY3M2VlYzc2OTZkNDkwZDdiMmE2NjdhMzk4Y2ZmZDlhOTM4MmJiZjk

[2020-02-27 20:10] v1v opened #189 "How to run the ITs locally?"
I did follow the steps explained in the CONTRIBUTING.md but I'm afraid I cannot run them as expected

### If I run a specific ITs

[code]

[code]

And the outcome is something like:

[code]

### If I run with all the ITs

BTW, if I do run without -Dtest, then I get some other errors
[code]

[code]

Am I missing anything?

Thanks

[2020-02-28 19:06] dhduvall opened #190 "stack trace retrieving subnets"
I assume this is something wrong with my configuration, but I'm not sure what. The build completed successfully, everything seemed fine. The Jenkins web server did end up delivering 503 pages about twenty hours later, and there were no other indicators in the logs of why *that* might be the case, but a restart cleared it.

Jenkins is 2.204.1, GCE plugin is 4.2.0.

[code]

[2020-03-10 17:03] dancmox commented on #150
I am having the same issue. Have you made any progress on solving this?

[2020-03-13 01:01] isarkis commented on #149
We are experiencing similar issues - getting 'Could not list regions in project dropcam-hq'.  We also see an error in the jenkins log:

2020-03-13 01:00:26.342+0000 [id=679]	SEVERE	c.g.j.p.c.AutofilledNetworkConfiguration$DescriptorImpl#doFillNetworkItems: Error retrieving networks
com.google.api.client.googleapis.json.GoogleJsonResponseException: 403 Forbidden
{
  "code" : 403,
  "errors" : [ {

[2020-03-25 18:08] akrasnov-drv commented on #150
I have an opposite problem, I do not see an option to disable automatic build restart.

[code]

[2020-03-25 18:58] mandoode commented on #171
Hi @andyshinn, I am using Google Compute Engine Plugin version is 4.2.0 as well.  I have the same issue, everything seems to be functioning ok, but my logs are getting clogged w/ the following error every 4-5 seconds:

` 25-Mar-2020 13:53:26.662 WARNING [awaitility-thread] com.google.cloud.graphite.platforms.plugin.client.ComputeClient.lambda$waitForOperationCompletion$11 Error retrieving operatio

[2020-04-01 06:35] Mukhtarali212 commented on #149
Hi , I have the same issue "Could not list regions in project" in the jenkins and configure correctly follow the google cloud documentation. and configure the credentials but i don't know where i am going wrong.

please suggest me the wright one, Thanks
--

[2020-04-17 10:24] Mukhtarali212 commented on #61
Hi rachely3n,

i'm trying to use Google Compute Engine Plugin but getting an error "Could not list in region in project <projectid>" please look into them. i didn't find out where i am going to wrong.
![Screenshot from 2020-04-01 11-38-55](https://user-images.githubusercontent.com/49085907/79559648-b90f7f00-80c3-11ea-9eb6-f1aff9169ceb.png)

[2020-04-20 01:09] rachely3n commented on #61
@Mukhtarali212 Usually that issue has to do with your service account credentials. Make sure the credentials you created has the proper permissions.

For reference: https://cloud.google.com/solutions/using-jenkins-for-distributed-builds-on-compute-engine#configure_cloud_identity_and_access_management

[2020-05-04 08:35] hmeerlo commented on #172
Ok, I have exactly the same problems. It is very annoying because the logs show that the preemption was detected and it claims it will abort the job but that never happens. So it stays in the list of active jobs and the queue with pending jobs fills up and they never get scheduled because there are no free resources. It always requires us to abort the jobs manually. And it feels like the GCE insta

[2020-05-08 07:17] Mukhtarali212 opened #192 "ERROR: Error fetching remote repo 'origin'"
Started by user Brio_Tech
Running as SYSTEM
Building remotely on ubuntu-1604-pcr7ye (ubuntu-1604) in workspace /tmp/workspace/demo
using credential mukhtar

Fetching changes from the remote Git repository

Fetching upstream changes from https://github.com/Mukhtarali212/simple-java-maven-app.git

using GIT_SSH to set credentials

ERROR: Error fetching remote repo 'origin'
hudson.plugins.git.GitExce

[2020-05-08 09:10] Mukhtarali212 commented on #61
Hi rachely3n ,

Thanks for the reference to resolve that issue, i have one more new issue please see that , there is a error for cloning the git repository in jenkins server when provisioned a new instance from gce plugin VM is launch and job will trigger but getting the error.
![Screenshot from 2020-05-05 15-46-39](https://user-
![Screenshot from 2020-05-04 12-25-02](https://user-images.githubuse

[2020-05-14 20:54] psalaberria002 commented on #149
We figured it after a couple of hours of debugging.

There are two types of credentials in the Google Oauth Credentials plugin. One is based on a key, the other one based on instance metadata.

When creating new credentials of any of these types, the only input field is the Google project name, which is then used as the ID for the credential. The problem comes when a new credential is added for th

[2020-05-28 09:12] MRamonLeon opened #193 "Unnecessary stubbings detected in InstanceConfigurationTest"
While running PCT to guarantee the compatibility of the **_google-compute-engine-4.3.0_** with other plugins installed, the CI fails with the error message provided.

It would be great to get rid of this problem because it's breaking `mvn test`

Thank you.

[code]

[2020-06-04 17:10] paoloventriglia opened #194 "Provisioning node fails - Java is not installed at java"
Hi,

When provisioning nodes on GCE the process fails. Please see log below.

The image I am using for the nodes has Java 8 Installed as per your documentation
The Jenkins master is running on Java 11

Jun 04, 2020 6:05:57 PM null
FINEST: Instance jenkins-slave-s1eixl is running and ready...
Jun 04, 2020 6:05:58 PM null
INFO: Launching instance: jenkins-slave-s1eixl
Jun 04, 2020 6:05:58 PM null
IN

[2020-06-05 12:23] hmeerlo commented on #157
Anyone ever found a solution for this problem? It happens a lot for me, really annoying

[2020-06-10 17:16] kishorviswanathan commented on #104
After one year, I am here looking for the exact same feature. Creating a custom image with java just for Jenkins agent is an overkill. So I ended up using the hack mentioned by @andyshinn by adding `cloud-init status --wait` in the wrapper script. It would be really helpful if the plugin could wait for the cloud-init completion before checking for Java.

Please reopen this issue.

[2020-06-24 07:35] emmaLP opened #195 "Project wide enabled OSLogin causing SSH Authentication Failed error"
Configured the GCE plugin to use the Google Service Account from metadata credentials and have project wide OSLogin enabled.

When I try spin up an node the logs say Using autogenerated keypair but every time it tries to connect via SSH I get Authentication Failed,
![JenkinsConsole](https://user-images.githubusercontent.com/10513197/85514554-0e9c6680-b5f4-11ea-8503-3b21ced6caac.png)

My GCE Plugin

[2020-06-24 07:47] emmaLP commented on #194
Please can you provide the following information:
1. Plugin and Jenkins version
1. Config (sensitive data blanked out)

[2020-06-24 08:07] emmaLP commented on #195
I have also tried with using a private key credentials and get the same issue with Authentication Failed.

Is it likely OSLogin causing the issue?

[2020-06-24 12:17] emmaLP commented on #195
So I've tested using a instance template with the oslogin disabled in the metadata and the Service account from metadata credential works perfectly.

Feature request would be to allow metadata to be set when an instance template is not specified

[2020-07-13 19:09] harshapic commented on #195
@emmaLP  OSLogin disabling in instance template helped me. Thanks

[2020-07-20 14:49] fisabelle opened #196 "provide support for the 'block-project-ssh-keys' metadata option"
Hi.

My work environment requires spawned instances to have the 'block-project-ssh-keys' option set.
Thank you

[2020-07-23 18:05] AndreasKarg commented on #35
Since #78 has been closed as "won't fix", is there any chance that support for GCE stop instead of termination might get picked up again? It would be super useful for my team & myself.

[2020-07-28 12:43] andycockers opened #198 "Plugin does not use the Jenkins proxy server or system proxy server"
Hi,

My GCP setup is as follows:

Ubuntu 20.04 running squid3 proxy.

Ubuntu 20.04 configured against squid3 running Jenkins with no external ip.

http proxy is set in Jenkins, so plugins can be downloaded and updated.

If I then try to create a new cloud using google-compute-engine-plugin, I get the following error in the UI

"Could not list regions in project xxx" (where xxx is my project).

If

[2020-08-20 10:16] brunoballekens opened #200 "plugin does not work on jenkins 2.253"
I have plugin version 4.3.0, but on jenkins 2.253 following exception is thrown when a new slave is launched :
[code]

issue probably introduced by https://issues.jenkins-ci.org/browse/JENKINS-63269

don't have this issue in version 2.252 (rolled back my jenkins instance to this version)

[2020-08-20 20:38] Onager commented on #200
I ran into this too, rolling back the plugin version to 4.2.0 also worked on Jenkins 2.253

[2020-08-20 22:13] donmccasland opened #201 "Jenkins build is busted"
Looks like the jenkins build has been busted since May with:
Branch indexing
22:03:01 Connecting to https://api.github.com using graphite-cicd-bot/******
Obtained Jenkinsfile.linux from a6c463840a0f7d5b23268d6fc4b7d5f51fc7ab6e
Running in Durability level: MAX_SURVIVABILITY
[Pipeline] Start of Pipeline
[Pipeline] End of Pipeline

GitHub has been notified of this commit’s build result

java.lang.NoS

[2020-08-20 22:25] donmccasland commented on #200
I've just released version 4.3.1 of the plugin which updates guava for security vuln and no longer pulls in hamcrest.  New image should be up on plugins.jenkins.io tomorrow.

[2020-08-21 07:21] brunoballekens commented on #200
I just tried plugin version 4.3.1 with jenkins 2.253 and it still gives me the same exception.
The pulled in hamcrest does not come from guava, but via Awaitility....

[2020-08-21 14:16] donmccasland commented on #200
Oh dang.  Okay.  Thanks for the feedback and the knowledge.  Let me see if
I can figure out how to get rid of hamcrest.

On Fri, Aug 21, 2020 at 12:21 AM Bruno Ballekens <notifications@github.com>
wrote:

[2020-08-21 14:30] brunoballekens commented on #200
well, if you need to get rid of hamcrest then you would need to get rid of awaitility ?
I lack very much knowledge on how plugins are instantiated on jenkins. But iff they can  package their own dependencies without impacting the system/other plugins, I would say you need to package hamcrest with the plugin ?

[2020-08-21 15:33] francisdb commented on #200
[code]

Looks like hamcrest is only available in test scope, I wonder why it's not being pulled in by the google graphite cloud client. I see that awaitility is already explicitly added in here so you will have to do the same for hamcrest. (remove test scope)
similar to https://github.com/jenkinsci/google-compute-engine-plugin/commit/b71c53b0b051dbbd63f6ed1796968fdc46b973b8

[2020-08-21 15:54] francisdb commented on #200
Since you explicity put hamcrest in test scope it overrides the compile scope transitive dependency that comes from `com.google.cloud.graphite:gcp-client:jar:0.2.1:compile`

[2020-08-21 16:36] donmccasland commented on #200
Oh that is an excellent clue to the necessary fix.

On Fri, Aug 21, 2020 at 8:54 AM Francis De Brabandere <
notifications@github.com> wrote:

[2020-08-28 18:03] shermanericts commented on #200
Sorry to bother, is there a 4.3.2 version of the plugin soon to be available?  I didn't see anything yet.

[2020-08-31 15:30] #200 closed, assigned to nobody

[2020-08-31 15:48] shermanericts commented on #200
thanks!!

[2020-08-31 16:15] donmccasland commented on #200
Thank you @jekkel !!

I've done a mvn release:prepare release:perform

Should take about a day for jenkins plugin site to update.

[2020-08-31 18:46] markmssd commented on #146
I'd love to see the `Turn on display device` field added in the plugin directly as well!

[2020-09-01 06:42] francisdb commented on #200
<img width="827" alt="image" src="https://user-images.githubusercontent.com/161305/91810934-07ff2080-ec2f-11ea-9108-2c8babb1bc4f.png">

[code]

thanks

[2020-09-09 18:15] sharkannon opened #203 "java.lang.NullPointerException when choosing Boot Disk/Image Project"
It appears that when we try to use a custom boot disk image that we built, we get a Null Pointer exception when we select our internal project.  We can select the pre built ones (coreos-cloud, centos-cloud and the like) and the Image Name comes up.  But if we select our PROJECT Name we get

`2020-09-09 17:06:29.063+0000 [id=6327612]    WARNING    o.e.j.s.h.ContextHandler$Context#log: Error while s

[2020-09-09 18:29] sharkannon commented on #203
Notes: Downgraded to 4.1.1 and still have the same issue.  Starting to wonder if we had an old config that just worked, we recently went into the "Clouds" config to modify some kubernetes containers and saved them.. and wondering if the plugin then resaved the config file and no longer works (Just thinking out loud).

[2020-09-09 19:41] sharkannon commented on #203
i've been able to work around it by using a instance template, but this is still an issue.

[2020-09-10 15:11] vishal84 opened #204 "Clarifying build instructions"
Upon initial build of plugin maven build fails with:
"Error assembling hpi: ~/google-storage-plugin/target/classes isn't a directory."

[2020-09-22 15:34] cristiandonosoc opened #206 "Windows VM get disconnected after some time"
Hi,

We're using the plugin to provision builder windows VMs for Jenkins. Overall it works well except that machines tend to go offline after a day or two, without fail. I got around this by having a script that would detect offline machines and delete them, and spin new ones. But now I have long running jobs and invariably the machine would get disconnected in the middle. The only logs I can see

[2020-09-29 20:52] cure opened #207 "plugin 4.3.2 does not work on Jenkins 2.259 (java.lang.IllegalArgumentException)"
This plugin is broken on Jenkins 2.259. I see this in the Jenkins logs:

java.lang.IllegalArgumentException: The specified method is not declared by the specified base class (hudson.slaves.CloudProvisioningListener), or it is private, static or final.
  at hudson.Util.isOverridden(Util.java:1456)
  at hudson.Util.ifOverridden(Util.java:1480)
  at hudson.slaves.CloudProvisioningListener.canProvisio

[2020-10-02 19:39] donmccasland commented on #207
Looking into it.

[2020-10-02 19:42] donmccasland commented on #203
Looking into it.

[2020-10-02 19:42] donmccasland commented on #201
Fixed build.

[2020-10-02 19:42] #201 closed, assigned to nobody

[2020-10-02 19:42] donmccasland opened #208 "Update to JDK 11"
Updating plugin to jdk 11, which will unblock fixes for several issues.

[2020-10-08 13:49] cytar commented on #172
Hello, we have exactly the same problem. Can someone take it in account. Maybe it could be useful to add a customizable timer to say "the node is gone for X seconds, so lets restart the builds that was attached to it, and kill the slave" ?

For those interested, that's what i'm doing in groovy:

//RESTART JOB BUILD IF STILL RUNNING AND CONTAINS SLAVE CONNEXION ERROR
def buildingJobs = Jenkins.inst

[2020-10-13 19:50] saipavan9 commented on #194
I am also having the same issue
 1. Jenkins 2.249.2 AND compute engine plugin 4.3.2
I have all the required packages installed including java

[2020-10-14 06:43] bhargav-vekariya opened #210 "This URL requires POST."
![20201014_121542](https://user-images.githubusercontent.com/42132562/95953203-2869ef80-0e17-11eb-8e2e-08814ae60721.png)
This URL requires POST
The URL you're trying to access requires that requests be sent using POST (like a form submission). The button below allows you to retry accessing this URL using POST. URL being accessed:
http://publicip:8080/computer/createItem
If you were sent here from

[2020-10-22 18:00] sbateman-fitbit opened #211 "Using custom SSH keys when launching an instance from a template"
We want to use the GCE plugin to launch executors using an instance template that has a user and an SSH key for the user already configured in the template.

When the plugin tries to connect to the newly generated instance, it's trying to authenticate using an auto-generated ssh key.
How can we edit that so it's using a specific SSH key (already added to Jenkins credentials?).

Here are the SSH ke

[2020-10-26 20:49] nehaljwani opened #212 "Do not create a snapshot if build is aborted"
At the moment, regardless of whether the build has failed or aborted, a snapshot is created (provided the option has been chosen in the config). This issue is a request to either not perform the snapshot if the build is aborted or provide an option for finer control.

[2020-10-28 01:55] nehaljwani commented on #157
In my case, I had a test instance of Jenkins which was basically a clone and hosted behind a different end point. Although all jobs were disabled on it, the plugin was quite active and reaping off slaves. The comment by @fisabelle solved the mystery, along with https://github.com/jenkinsci/google-compute-engine-plugin/issues/46

[2020-10-29 22:23] #204 closed, assigned to vishal84

[2020-11-02 18:48] donmccasland commented on #211
Hey there.  This is a really interesting use case, and one I think we should support.

As a new maintainer I'm just becoming familiar with the code.  It appears that the keys used to connect to the created instance are generated each time, and that there is no way to specify otherwise.

This might be a great place to use either KMS or Secrets Manager.  How do you store your keys?

[2020-11-02 19:09] sbateman-fitbit commented on #211
We usually have the private key stored as a credential in Jenkins of type "SSH username with private key".
We can also obtain it from Vault.

[2020-11-03 17:52] donmccasland commented on #211
Looks like we might be able to extend
https://github.com/jenkinsci/google-compute-engine-plugin/blob/develop/src/main/java/com/google/jenkins/plugins/computeengine/ssh/SshKeysHelper.java

by using the Credentials plugin API
https://github.com/jenkinsci/credentials-plugin/blob/master/docs/user.adoc

[2020-11-03 17:58] vishal84 commented on #211
Looks like the links above are promising. Will start to take a look at this.

[2020-11-03 21:15] sbateman-fitbit commented on #211
Awesome @vishal84! Thanks for looking into it.

[2020-11-09 15:37] roman-parkhunovskyi commented on #194
Have the same issue with Jenkins 2.249.3 and compute engine plugin 4.3.3 despite installing java in "Startup script" section. Image used: "ubuntu-2004-focal-v20201028"

The issue appears to be related to:
https://github.com/jenkinsci/google-compute-engine-plugin/issues/165

https://github.com/jenkinsci/google-compute-engine-plugin/pull/166
https://github.com/jenkinsci/google-compute-engine-plugin/

[2020-11-16 15:45] emmaLP commented on #194
Have you got OSLogin enabled globally? If so then you you will need to create an instance template outside of jenkins and disable OSLogin within the metadata. In Jenkins then you just reference the instance template that you've already created.

That was how I resolved the issue in my case. OSLogin is enabled globally but the GCP Plugin in Jenkins doesn't seem to work when it is enabled so you nee

[2020-11-24 17:08] stevefortier commented on #35
+1 for this to be reconsidered. It would avoid lots of lengthy rebuilds from scratch.

[2020-11-29 20:34] akrasnov-drv commented on #150
Without the option to disable automatic restart our pipeline is broken. How would you expect to use it, if we have dozens of parallel stages, and single stage failure (because of preemtible) restarts the whole pipeline?!
We left GCP (at least till the option will be added)

[2020-11-29 20:49] akrasnov-drv opened #214 "No option to disable automatic build restart for preemtible VMs"
Hi,
When GCP takes back one of preemptible VMs, the plugin restarts the whole build.
It does not allow to disable automatic build restart.
Our pipeline may run dozens of stages in parallel, and single preemptible VM failure executes a new build (while the previous one is still running other parallel stages).
EC2 fleet plugin has the option to disable automatic restart (for spot instances).
Without

[2020-11-30 16:52] donmccasland commented on #35
This is worth looking into.  I've read through the instance groups discussion and agree that doing that work would require a tremendous amount of rewriting, but just stopping the instance and keeping it available for starting up again would be very nice.

[2020-12-08 14:07] robertauer commented on #157
I am currently having the same problem. Reading the posts above I looked into my `config.xml` and found the following:
[code]
I guess this is what @fisabelle is talking about. Could you please tell us how you fixed it? Do I remove the `<instanceId>` part or the `<string>jenkins_cloud_id</string>` entry part?
**EDIT:** I removed the `<instanceId>` line and it fixed the problem for now.

[2021-01-21 15:56] fdandavino-ubicquia opened #215 "When Selecting a Machine Configuration Template with a non-preemptible machine"
When provisioning a machine using a gcp defined template for a **not** a preemptible machine.  The provisioning fails; see logs (instance was e2-standard-32):

Jan 21, 2021 3:19:38 PM WARNING com.google.jenkins.plugins.computeengine.ComputeEngineCloud provision
Error provisioning node
com.google.api.client.googleapis.json.GoogleJsonResponseException: 400 Bad Request
{
  "code" : 400,
  "errors" :

[2021-01-21 16:06] fdandavino-ubicquia opened #216 "Add support for setting custom instance metadata."
Adding support to add custom metadata for instance being created (when not using machine template)

This is indirectly related to  #138 and highlighted #215.  Since I was not able to use oslogin to connect, I wanted to keep the enable-oslogin at the project level and disable it at the instance level by setting enable-oslogin to false.  I could not do it in Jenkins configure clouds page (hence this

[2021-01-23 00:05] simtel12 opened #217 "Changelog has not been updated for a number of releases"
Hi all,

Just wanted to let you know that the changelog hasn't been updated since 4.2.0.

[2021-02-08 09:59] robinbanbury commented on #206
@cristiandonosoc have you disabled Windows updates?

I got a similar issue to you, and found that was the problem. If the VMs are all going offline at a similar time of day, it could be the issue.

As you are getting an `Unexpected termination of the channel` error, it suggests something other than the plugin might be killing the VMs.

You can disable automatic updates by setting `HKLM:\SOFTWARE\P

[2021-02-25 13:29] robinbanbury opened #242 "Windows build node SSH connection issue using JCasC"
When configuring a Windows agent using JCasC, the SSH connection is broken between Jenkins and the agent if 'username/password' authentication is selected.

Windows agent configuration:
[code]

The configuration looks suitable when examined in the Jenkins UI, but I can see the following error in the agent logs:
[code]

On a closer inspection in the system logs:
[code]

Looking at [that line in the

[2021-03-22 03:00] cristiandonosoc commented on #206
Indeed that was one of the cause of trouble. We disabled windows updated and the system got a lot more stable.

[2021-03-22 09:29] robinbanbury commented on #206
Glad to hear the plugin is working better for you now :-)

Ok to close this issue then?

[2021-03-24 18:07] #206 closed, assigned to nobody

[2021-05-03 16:28] derrickrc commented on #139
@francois-baptiste this link is only for authorized domains - is it possible to still join this group? My email is hello@filljoy.co, thank you.

[2021-05-03 20:44] francois-baptiste commented on #139
@derrickrc Sorry I am not related to GCP organisation, I just pick up this url from a tutorial a while ago. The link should have expired. A new should be available somewhere...

[2021-05-07 12:34] v1v opened #260 "Error provisioning node silents the error."
Stacktrace:

[code]

As far as I see the https://github.com/jenkinsci/google-compute-engine-plugin/blob/bb7dcc6ffdd7b5f21a01817c76fbafc5a4765ea4/src/main/java/com/google/jenkins/plugins/computeengine/ComputeEngineCloud.java#L272-L274 does not through an error that can be captured with the https://github.com/jenkinsci/jenkins/blob/677fbb2a81fa8e9a0bc37ad5eca56565612e1f2e/core/src/main/java/hudson/s

[2021-05-16 21:34] plonser commented on #192
I had a very similar problem with Git + ssh and was able to solve it.
The problem was that I had not enabled "Attach external IP" in the Cloud configuration which made it impossible for Github to answer the request.
Enabling it solved the problem for me.

[2021-06-23 16:00] v1v commented on #260
I cannot reproduce this error in `2.189.1` with the latest version of this plugin, so I'll close this issue now

[2021-06-23 16:00] #260 closed, assigned to nobody

[2021-07-12 17:32] Tahvok opened #272 "Template selection drop down menu list is cutted"
Happening on latest version.
When you have a lot of instance templates (thousand ++), you cannot see them all in the `Template to use` drop down list.
We already have instance templates retention set in place, but this is still not enough, and the number of instance templates keeps growing.
If we want to create a new instance from UI we simply cannot do it because the instance template we want to

[2021-07-14 14:21] robinbanbury commented on #184
Is there any news on this issue? It would be really useful to be able to launch multiple nodes in parallel using this plugin, without the growing wait times.

[2021-08-06 14:26] arturmkr commented on #139
@virilo
@francois-baptiste
@stephenashank
Guys, could you please share invite link?

Here are screenshots how you can find it (Gradle as an example)
![image](https://user-images.githubusercontent.com/14920279/128525252-4b99da1c-18bc-45e7-8225-0e7d4f0a905b.png)
![image](https://user-images.githubusercontent.com/14920279/128525289-3e23f762-b83d-4363-93b2-64df29fddf9c.png)

Thank you!

[2021-08-10 21:30] tdgeery commented on #171
Has anyone found a solution for this?

[2021-08-23 20:59] lukaswajdzik opened #280 "Metadata instance configuration"
I cannot find the possibility to pass some metadata to the instance, could you please advice how to do it?

[2021-08-29 08:23] austonpramodh opened #285 "Unable to add GCE Node"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

- Install GCE plugin from plugin manager
- Added cloud with the credentials(As per docs)
- Create a GCE Node

### Results

Expected result:
I should be able to add a node

Actual result:
![image](https://

[2021-08-29 09:23] austonpramodh commented on #285
Found a couple of issues related to this.
1. https://github.com/jenkinsci/google-compute-engine-plugin/issues/159
2. https://github.com/jenkinsci/google-compute-engine-plugin/issues/39

It worked after provisioning from here. Thank you.
![image](https://user-images.githubusercontent.com/5049050/131245134-7776f714-7b79-44d8-b188-2f800cc8eecb.png)

Although, I am still not sure, will Jenkins create

[2021-08-29 09:51] #285 closed, assigned to nobody

[2021-10-04 10:38] framegrace opened #291 "IAP support for SSH connection"
### Dependencies

### Feature Request
My company uses IAP to access GCP vm's almost exclusively. I cannot use the cloud plugin because it tries to use a public or private IP for the SSH connections.

Could be possible to allow the use of IAP for ssh connections? If full inegration is difficult, just allowing some sort of custom ssh connection setup would be enough. (Being able to setup an ssh prox

[2021-10-12 19:15] kodyabbott commented on #139
Hey all, this might be old but just wanted to share that I found the invite on https://cloud.google.com/developers. You can click the slack icon toward the bottom of the page.

[Here](https://join.slack.com/t/googlecloud-community/shared_invite/zt-m973j990-IMij2Xh8qKPu7SaHfOcCFg) is the direct link to join the slack channel but if it changes again or expires try to look for it on the developer's p

[2021-10-13 15:36] kamaltherocky opened #293 "Add support for CMEK Encryption key for Disks"
### Dependencies

### Feature Request

Ability to pass the CMEK Encryption key resource ID for disk encryption for the boot disk and other disks which are created in the build VM

Example configuration:

disk:
  encryption: <CMEK resource ID>

[2021-10-13 17:09] zachberger commented on #293
Hi Kamal,

This plugin supports [specifying an instance template ](https://github.com/jenkinsci/google-compute-engine-plugin/blob/develop/src/main/java/com/google/jenkins/plugins/computeengine/InstanceConfiguration.java#L371) instead of specifying all the instance configuration in the plugin configuration. Instance templates support CMEK. Could you use this as a workaround until cmek is added as a

[2021-10-14 14:36] naushniki commented on #211
@vishal84 @sbateman-fitbit Any updates on this issue? Have you found any solution or workaround for it?

[2021-12-08 15:46] night-gold opened #298 "Impossible to select subnet when creating instance configuration"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

Create an instance template in cloud configuration console. Select a specific vpc (not default). Use the select field to get the list of available subnets.

### Results

Expected result:

I would like to

[2021-12-10 18:30] russtaylor commented on #167
FWIW, we ran into this issue today. We think it was related to upgrading another plugin.

[2021-12-13 13:21] #298 closed, assigned to nobody

[2022-01-04 15:21] mikiedelstein opened #299 "Jenkins slaves connection fails randomly"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

Jenkins: 2.327
OS: Linux - 5.4.0-1058-gcp
---
CustomHistory:1.6
ace-editor:1.1
ansicolor:1.0.1
ant:1.13
antisamy-markup-formatter:2.6
apache-httpcomponents-client-4-api:4.5.13-1.0
artifactory:3.14.2
authentication-tokens:1.4
authorize-project:1.4.0
aws-credentials:1.33
aws-java-sdk-ec2:1.12.131-302.vbef9650c6521
a

[2022-01-17 23:40] arsiesys opened #302 "Add an option to disable the shuffle behavior in declared clouds configurations"
### What feature do you want to see added?

Hello!

In our current environment, we are using multiple cloud providers (bare metal + gcp). I noticed that the priority order setup in the "Configure clouds" area was ignored and that the behavior was close to a "random" selection of the cloud provider.

I finally understood it came from here:
https://github.com/jenkinsci/google-compute-engine-plugin/b

[2022-01-18 18:33] arsiesys commented on #302
After some more tests, I tried to use the property:
com.google.jenkins.plugins.computeengine.disableNoDelayProvisioning

And it seems to be really used as I get the log line:
Jan. 18, 2022 1:30:17 P.M. FINE com.google.jenkins.plugins.computeengine.NoDelayProvisionerStrategy
Provisioning not complete, NoDelayProvisionerStrategy is disabled

So as I understand, it skip this extended strategy.. so it

[2022-01-18 22:39] #302 closed, assigned to nobody

[2022-02-07 13:52] jglick commented on #150
_Sketch_ of a more general solution: https://github.com/jenkinsci/workflow-durable-task-step-plugin/pull/180

[2022-02-07 14:12] jglick opened #306 "`NullPointerException` from `ComputeEngineComputerLauncher.launch`"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

Jenkins 2.319.3 (CloudBees CI variant), `google-compute-engine` 4.3.8
</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Linux

### Reproduction steps

Unknown exactly. Jenkins was upgraded while a Pipeline build was running that used a GCE agent. After

[2022-02-28 17:34] mlazowik opened #310 "Parameters are not set for jobs restarted after VMs are preempted"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

linux

### Reproduction steps

1. Configure a job that has parameters that are required for it to work
2. Set it to run in preemptive VMs
3. Wait for a VM to get preempted

### Expected Results

[2022-03-15 14:12] BrianRossmajer commented on #299
I recently had this same issue come up and am just starting investigating.  It coincided with starting to use Jenkins' configuration as code plugin; I'm just curious if you're using that too.

[2022-03-15 18:24] BrianRossmajer commented on #299
I'll just comment here in case it helps someone in the future... it did indeed seem related to using Jenkins' Configuration As Code.  I had exported the configuration and edited it then duplicated it for something else, not noticing that it kept instanceId for the cloud configuration, so that two different cloud configurations were using the same instanceId.  Note that the example yaml does not in

[2022-03-28 19:21] paulletang opened #317 "getInstanceConfigurationByDescription returns a NullReferenceException if there are no instances"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Linux; extremely doubtful that this is OS related.

### Reproduction steps

* Have a Jenkins controller
* Install the Google Compute Engine Plugin
* Add a "Google Compute Engine" cloud, but no in

[2022-04-01 09:40] guidodl opened #319 "Jenkins cannot connect to slave node via ssh"
Hi,

I am setting up an infrastructure based on jenkins master-slave, but it seems that the master cannot ssh to the slave.
Here what i have tested so far:

<img width="518" alt="image" src="https://user-images.githubusercontent.com/32498192/161237435-a7615c50-2951-4076-ad6d-669562df9b92.png">

The slave is in a different project from the one of master, which are connected through a VPC peering, b

[2022-04-01 20:29] #319 closed, assigned to nobody

[2022-04-01 20:30] guidodl commented on #319
I have disabled os-login at the project level and now it's working

[2022-04-05 20:10] garychappell opened #320 "Agent JVM Options"
### What feature do you want to see added?

I'd like to be able to set JVM options for the agent, e.g. -Djava.io.tmpdir=$JENKINS_HOME/tmp.

### Upstream changes

_No response_

[2022-05-30 11:19] yarinkos opened #330 "Agent/instance is created with Preamble off while Template to use is selected"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Centos 7

### Reproduction steps

1.Configure Clouds
2.Choose a template ( using selection on Template to use )
3.Advanced configurations
4.Set Preemptible to true

### Expected Results

Not sure

[2022-06-01 09:29] #330 closed, assigned to nobody

[2022-06-01 09:30] yarinkos commented on #330
Works when I set preemptible for the using template

[2022-06-10 12:21] vlad-ivanov-name opened #335 "Feature request: try different zones if the one specified in config does not have enough resources"
### What feature do you want to see added?

Hello,

would it be possible to have an option to use multiple zones for launching agents? Right now if a zone is exhausted, the plugin will not handle it so well: there will be many agents created (above the limit set in config) but they will fail to start, and while deleting them works, it also triggers an exception within Jenkins. Here's a log snippet

[2022-06-12 10:19] yarinkos commented on #335
@vlad-ivanov-name, Is this another root cause besides the GCP compute bug? Could it be a quote issue?
It might be a running issue (https://stackoverflow.com/questions/52684656/the-zone-does-not-have-enough-resources-available-to-fulfill-the-request-the-re).
I was just thinking out loud

[2022-06-12 10:51] vlad-ivanov-name commented on #335
Yeah I checked the quota -- that's not it. I don't think it's a bug per se, it's just the instance Jenkins was trying to spin up needs a GPU and it's common to see GPU resources exhausted within a particular zone.

[2022-06-14 12:30] craigwatson commented on #335
We also saw similar issues in the London region at roughly the same time - this was indeed caused by resource exhaustion inside GCP, and not by any project quotas.

Ideally, the plug-in would catch this failure and continually retry (potentially with some kind of exponential back off?) until it was successful.

Alternatively, the plug-in could use Instance Groups to keep track of the pool of VMs,

[2022-06-28 01:25] caseyduquettesc opened #338 "Feature request: Option to delay agent connection to allow custom startup script to finish"
### What feature do you want to see added?

Currently, you can specify a custom startup script. This startup script may still be running when the agent starts and begins to process builds. Depending on how critical that script is, the build may be dependent on what that script does. For example, if that script rsyncs a gcs bucket, or even mounts an external drive with a git snapshot and is checked

[2022-07-11 08:32] bini-dere commented on #338
This would be a good feature as I use a startup script to install Java to the agent.
Agent provisioning is failing with `WARNING: Java is not installed at java`

[2022-07-13 05:57] yarinkos opened #342 "Option the set MAXIMUM triggered builds for an agent"
### What feature do you want to see added?

Setting maximum cap for builds triggered on one agent.when this number is reached - we remove and delete this agent .
For instance, if this number is 100, after 100 builds on the same agent,the agent will be terminated , and by design a new compute agent will show up

This behaviour could be much helpful for cases when a new image template is created ,an

[2022-07-17 21:15] caseyduquettesc commented on #338
I'll start working on this

[2022-07-18 16:27] #211 closed, assigned to vishal84

[2022-07-19 05:04] caseyduquettesc commented on #338
I noticed the workaround they use in the integration tests
[code]

[2022-07-27 10:05] gfroid79 opened #349 "Enable billing measure of GCP Jenkins workers"
### What feature do you want to see added?

As a GCP customer, I'd like to set labels on the Jenkins workers created (the VMs), so that I can measure the cost of my Jenkins workers in my GCP billing reporting screen.

AC :
- If a list of googleLabels ("key":  "value") are set (in the Casc code or from configuration screen in Jenkins), then those labels are set to the created GCP VMs

Notes :
1) I

[2022-08-14 15:02] yarinkos opened #353 "The hpi download link is broken"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Mac and Centos

### Reproduction steps

1.Download the hpi file using the link from the main Githu page [here](https://storage.googleapis.com/jenkins-graphite/google-compute-plugin-latest.hpi)

#

[2022-08-22 14:29] diogocarleto commented on #353
same here

[2022-09-18 13:54] adishaim opened #358 "Add new spot for provision type"
### What feature do you want to see added?

Google added a new type of machine called 'spot', this type is like a preemptible type but the biggest difference is this type of machine is not stopped within 24 hours, in fact it can be lives days and even weeks.

At the moment it should solve another problem of a pipeline running for more than 24 hours and they died in the middle of the job because th

[2022-09-27 19:10] rkirkpat commented on #157
I can confirm @robertauer solution above.

We were testing a new controller with a backup from our production controllers and were seeing GCP agents launched by both to run jobs being killed prematurely. Reviewing the GCP Compute Engine audit logs showed that the "other" Jenkins controllers was doing the kills (confirmed by source IP addresses of the destroy requests).

The solution was to shutdow

[2022-10-20 18:12] chengqian0504 opened #363 "New Node with "Google Compute Engine" failed"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

macos and windows both have this issue

### Reproduction steps

Jenkins- notes-new nodes - error there
The URL you're trying to access requires that requests be sent using POST (like a form submi

[2022-10-24 20:54] jglick commented on #208
Just use 2.361.x baseline.

[2022-11-08 17:26] mayur-who opened #368 "Add an ability to provide image family name instead of image name"
### What feature do you want to see added?

When creating an agent, you can pass an additional image name argument under advanced section. However, my toolchain periodically creates new image and deletes the old one while keeping the image family name same.

Having an option to provide image family instead of image name for the agent to be created would remove the need to configure clouds again an